#found-rules
  clear left
  line-height 20px
  padding-top 20px

  #stop-mining
    background transparent url('../images/sprite-icons.png') -14px -511px  no-repeat
    height 24px
    float right
    padding-left 27px
    visibility hidden

  ul
    width 100%
    padding-left 0
    float left
    li
      width 100%
      padding-left 0
      float left; clear left

  .connective
    connective()

  .coefficient
    coefficient()

  .left-bracket,
  .right-bracket
    font-size 18px
  .left-bracket
    margin-right 2px
    position relative; top -1px
  .right-bracket
    margin-left 5px

  .rule
    associationRule()

  .ims
    ims()
    left 27px

  .im-value
    imValue()

  .info
    font-weight normal
    background transparent url('../images/sprite-icons.png') -118px -217px no-repeat
    display none; width 16px; height 16px
    position relative; top 7px; left 6px
    margin-right 10px
    float left

  .bk
    background transparent url('../images/sprite-icons.png') -19px -119px no-repeat
    display block; width 16px; height 16px
    position relative; top 5px
    margin 0 10px
    visibility hidden
    float left

  li:hover > .bk
    visibility visible

  .mark
    background transparent url('../images/sprite-icons.png') -18px -68px no-repeat
    display block; width 16px; height 16px
    position relative; top 5px
    margin-left 10px
    visibility hidden
    float left

  li:hover > .mark
    visibility visible

  .clear
    remove()
    position relative; top 2px
    margin-left 5px
    float left

  li:hover > .clear
    list-style-type none
    visibility visible

  #view-task-setting,
  #view-task-result
    background transparent url('../images/sprite-icons.png') -11px -557px no-repeat
    height 26px
    float left
    padding 6px 0 0 37px; margin 5px 25px 0 0
    visibility hidden

.found-rule
  .id
    width 25px
    font-size 0.8em
    text-align right
    display block; width 25px
    margin-right 3px
    float left

  .loading
    background transparent url("../images/sprite-icons.png") -18px -408px no-repeat
    display block; width 20px; height 24px
    opacity 0; visibility hidden
    float right

  .tip-visible
    tip()

  .field-sign.negative
    background transparent url('../images/sprite-icons.png') -118px -162px no-repeat
    padding 0 2px 0 13px