header
  height 146px; width minContentWidth + navWidth + 3*boxMargin
  padding-right boxMargin

  #settings
    text-align right
    height 30px
    padding-top 5px
    a
      color #CEE7F7
      font-size 14px
      font-weight bold
      text-decoration none
      padding-right 12px
    a:hover
      color #FFF
      text-decoration underline
    a#settings-open
      background transparent url('../images/sprite-icons.png') -11px -167px no-repeat
    a#new-task
      background transparent url('../images/sprite-icons.png') -113px -262px no-repeat
      margin-right 150px
      padding 3px 0 0 30px

  h1
    color h1Color
    font h1Font
    margin 10px 0 0 2*boxMargin + feedbackMargin
    letter-spacing 2px

    em
      font-style normal
      letter-spacing normal
      position relative; bottom 5px
      margin 0 2px

    sup
      color #9de045
      font-size 0.6em
      letter-spacing normal
      margin-left 10px
      position relative; top -0.8em

    span
      display block
      font-size 19px
      letter-spacing normal
      position relative; top -8px