#marked-rules
  box()
  width contentWidth
  margin-top 25px
  padding 10px 20px
  float left

  h2
    h2()
    margin-bottom 5px

  h2.minimize
    background transparent url('../images/sprite-icons.png') 928px -212px no-repeat

  h2.maximize
    background transparent url('../images/sprite-icons.png') 928px -161px no-repeat

  li
    float left; clear left

  li:hover > .clear
    visibility visible

  .rule
    associationRule()

  .coefficient
    coefficient()

  .connective
    connective()

  .ims
    ims()

  .im-value
    imValue()

  .clear
    remove()
    float left

  .field-sign.negative
    background transparent url('../images/sprite-icons.png') -118px -173px no-repeat
    padding-left 13px