#marked-rules
  box()
  min-width minContentWidth
  margin boxMargin 0 0 boxMargin + feedbackMargin
  padding 10px 20px
  float left; clear left

  h2
    h2()
    margin-bottom 5px

  ul
    width 100%
    padding-left 0
    float left
    margin-left 25px
    li
      width 100%
      padding-left 0
      float left; clear left

  .marked-rule
    cursor default
    .rule
      associationRule()
      .field
        height auto !important
      .left-bracket, right-bracket
       top -3px !important
    .ims
      ims()
      left 5px
    .clear
      remove()
      position relative; top 7px
      margin-left 5px
      float left
    &:hover > .clear
      visibility visible