box()
  color color
  background-color #FFF
  border-radius(5px)
  border 1px solid boxBorderColor
  box-shadow(0, 0, 10px, boxShadowColor)
  padding 10px

overlay()
  background-color #FFF
  border-radius(15px)
  border 2px solid overlayBorderColor
  box-shadow(5px, 5px, 5px, overlayShadowColor)
  width 435px
  margin 10% auto; padding 35px 25px

overlay-close()
  color #126499
  background transparent url('../images/sprite-icons.png') -67px -116px no-repeat
  padding-left 20px
  float right
  position relative; top -20px

h2()
  color h2Color
  font h2Font
  font-weight bold
  border-bottom 1px solid h2Color

h2AR()
  color h2ARColor
  font h2ARFont
  font-weight normal
  border-bottom none

associationRule()
  line-height 25px
  float left

coefficient()
  color #925213
  font-size 0.85em
  position relative; top -1px; left 3px

connective()
  color #336600
  font-size 14px
  margin 0 3px 0 6px

ims()
  font-size 12px;
  float left; clear left
  position relative; top -5px

imValue()
  color #7B0D2E
  margin-left 0.5ex

bracket()
  font-size 18px
  float left
  position relative; top -2px

edit()
  background transparent url('../images/sprite-icons.png') -19px -262px no-repeat
  display block; width 16px; height 20px
  visibility hidden

remove()
  background transparent url('../images/sprite-icons.png') -19px -15px no-repeat
  display block; width 16px; height 20px
  visibility hidden

loading()
  background transparent url('../images/sprite-icons.png') -18px -416px no-repeat
  display block; width 16px; height 20px

tip()
  border-radius(5px)
  box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.3))
  background-color #FFF
  height 22px
  padding 7px 5px 0 10px

border-radius(n)
  border-radius n
  -webkit-border-radius n
  -moz-border-radius n

box-shadow(h, v, blur, color)
  box-shadow v h blur color
  -webkit-box-shadow v h blur color
  -moz-box-shadow v h blur color

userSelect(value)
  user-select: value
  -webkit-touch-callout: value
  -webkit-user-select: value
  -khtml-user-select: value
  -moz-user-select: value
  -ms-user-select: value

info()
  background transparent url('../images/sprite-icons.png') -20px -714px no-repeat
  display block; float right
  position relative; top -2px
  width 24px; height 24px

tooltip()
  color #000000
  text-decoration none
  outline none
  cursor help
  position relative
  >span
    text-align justify
    line-height 1.25em
    margin-left -999em; padding: 0.5em 0.8em 0.8em 2em
    position absolute
  &:hover
    >span
      font-family 'Calibri' 'Tahoma' 'Geneva' sans-serif
      border-radius(5px)
      box-shadow(5px, 5px, 5px, rgba(0, 0, 0, 0.1))
      width 250px
      margin-left -3em
      position absolute; top 2em; left 1em
      z-index 99
    img
      border 0
      margin -10px 0 0 -55px
      float left
      position absolute
    em
      font-family 'Candara' 'Tahoma' 'Geneva' sans-serif
      font-size 1.2em
      font-weight bold
      display block
      padding 0.2em 0 0.6em 0
  > .help
    background-color #D3E6F4
    border 1px solid #2BB0D7
  > .warning
    background-color #FFFFAA
    border 1px solid #FFAD33
