#settings-form
  line-height 2em

  div
    clear left

  .category
    color #925213

  br.clearfix
    clear left
    margin-top 1em

  .info
    info()

  .tooltip
    tooltip()

  div > .warning
    background transparent url('../images/sprite-icons.png') -16px -361px no-repeat
    display block; float left
    position relative; top -3px; left 5px
    width 24px; height 24px

  .autocomplete
    margin-bottom 90px

  a.autosuggest-on,
  a.autofilter-on,
  a.cache-on,
  a.debug-on,
  a.strict-on
    color color
    background transparent url('../images/sprite-icons.png') -70px -8px  no-repeat
    text-decoration none
    display block; float left
    padding-left 13px
    position: relative; top: -9px

  a.autosuggest-off,
  a.autofilter-off,
  a.cache-off,
  a.debug-off,
  a.strict-off
    color color
    background transparent url('../images/sprite-icons.png') -70px -56px no-repeat
    text-decoration none
    display block; float left
    padding-left 13px
    position: relative; top: -9px