section#active-rule
  position relative
  #antecedent, #interest-measures, #succedent
    float left
    height 300px
    padding-bottom 70px
    overflow auto

  #antecedent
    .cedent
      cedent()
    >.cedent
      firstCedent()

  #interest-measures
    margin-left 2*boxMargin
    width interestMeasuresWidth
    #add-im
      font-size 14px
      background transparent url('../images/sprite-icons.png') -167px -162px no-repeat
      margin 0 0 0 10px; padding-left 20px
      float left
    .im
      interestMeasureMixin()
      float left; clear left
      margin-bottom 7px
      .edit-im
        edit()
        margin-right 5px
        float left
      &:hover .edit-im
        visibility visible
      .remove-im
        remove()
        float left
      &:hover .remove-im
        visibility visible

  #succedent
    margin-left 2*boxMargin
    .cedent
      cedent()
    >.cedent
      firstCedent()

  .no-restriction
    background transparent url('../images/sprite-icons.png') -20px -714px no-repeat
    padding 1px 0 0 17px; margin-top 2px
    float left; clear left
    cursor help

  #action-box
    background transparent url('../images/sprite-icons.png') -12px -307px no-repeat
    display block; height 32px
    margin 25px 0 10px; padding 9px 0 0 38px
    position absolute
    left 0
    bottom 0

  #stop-mining
    mainButton()
    visibility hidden
    position absolute
    bottom 0
    right 10px
    border-color #800000
    background #800000
    &:hover
    &:focus
      border-color #800000
      background #d50000

  #start-mining
    mainButton()
    visibility hidden
    position absolute
    bottom 0
    right 10px