section#active-rule
  position relative
  #antecedent, #interest-measures, #succedent
    float left
    height 300px
    padding-bottom 70px
    overflow auto

  #antecedent
    .cedent
      cedent()
    >.cedent
      firstCedent()

  #interest-measures
    margin-left 2*boxMargin
    width interestMeasuresWidth
    #add-im
      font-size 14px
      background transparent url('../images/sprite-icons.png') -167px -162px no-repeat
      margin 0 0 0 10px; padding-left 20px
      float left
    .im
      interestMeasureMixin()
      float left; clear left
      margin-bottom 7px
      .edit-im
        edit()
        margin-right 5px
        float left
      &:hover .edit-im
        visibility visible
      .remove-im
        remove()
        float left
        &.required
          visibility hidden
      &:hover .remove-im
        visibility visible
        &.required
          visibility hidden

  #succedent
    margin-left 2*boxMargin
    .cedent
      cedent()
    >.cedent
      firstCedent()

  .no-restriction
    background transparent url('../images/sprite-icons.png') -20px -714px no-repeat
    padding 1px 0 0 17px; margin-top 2px
    float left; clear left
    cursor help

  #ar-action-box
    position relative
    clear both
    overflow auto
    > div
      padding 20px 0 20px 55px
      &.in_progress
        background boxBackgroundColor url('../images/icon-loading-bw-48.gif') left center no-repeat
      &.question
        background boxBackgroundColor url('../images/icon-help-48.png') left center no-repeat
      &.solved
        background boxBackgroundColor url('../images/icon-ok-48.png') left center no-repeat
      &.interrupted
        background boxBackgroundColor url('../images/icon-stop-48.png') left center no-repeat
      &.failed
        background boxBackgroundColor url('../images/icon-warning-48.png') left center no-repeat
      &.info
        background boxBackgroundColor url('../images/icon-info-48.png') left center no-repeat

    #stop-mining
      mainButton()
      float right
      margin 5px 0 5px 10px
      border-color #800000
      background #800000
      &:hover
      &:focus
        border-color #800000
        background #d50000

    #start-mining
      mainButton()
      margin 5px 0 5px 10px
      float right

    #start-mining-with-pruning-label
      float right
      clear right
      margin 5px 0 0 0
      padding 0 15px
      width 150px
      text-align center
      label
        padding-left 5px
        cursor pointer
      input[type=checkbox][disabled] + label
        color disabledInputColor
        cursor default