#marked-rules-tabs
  margin boxMargin 0 0 boxMargin
  float left
  clear left
  width 1005px
  .marked-rules-tab
    box()
    h2AR()
    width 475px
    margin 0
    padding-left 15px
    background-color rgba(255, 255, 255, 0.6)
    &.marked-rules-tasks
      float left
    &.marked-rules-base
      float right
    &.marked-rules-tab-active
      background-color #ffffff
      border-bottom #fff 5px solid
    &:hover
      background-color #ffffff
    a
      cursor pointer
      display block
      color h2ARColor !important
      text-decoration none !important

#marked-rules
  box()
  box-shadow(10px, 0, 10px, 0, boxShadowColor)
  min-width minContentWidth
  margin 0 0 0 boxMargin
  padding-left boxMargin
  float left
  clear left

  h2
    h2AR()
    /*margin-left 10px*/
    margin 0 0 5px 0

  .maximize
    ul,.marked-rules-checkbox-controls,.marked-rules-controls
      display none
    a.toggle span
      background transparent url('../images/sprite-icons.png') -19px -169px no-repeat

  .minimize a.toggle span
    background transparent url('../images/sprite-icons.png') -20px -220px no-repeat

  .marked-rules-base-content
    display none

  .marked-rules-empty
    display none

  .empty .marked-rules-empty
    display block

  .marked-rules-task-name
    h2Small()
    margin 10px 0
    position relative
    padding-left 20px

    .count
      color unimportantTextColor
      margin-left 15px
      font-size baseFontSize
      strong
        font-weight normal
        color interestMeasureColor

    a.rename-task
      margin-left 10px
      width 20px
      height 25px
      position relative
      top 5px
      display inline-block
      background transparent url('../images/sprite/icon-edit.png') center bottom no-repeat
      visibility hidden

    a.toggle span.toggle
        display block; width 12px; height 12px
        position absolute
        left 0
        top 10px

    &:hover
      a.rename-task
        visibility visible

  .clearfix
    clear both

  p.error
    color errorColor
    margin 10px 0

  .marked-rules-controls
    position relative
    overflow auto
    text-align right
    color unimportantTextColor
    font-size 0.8*baseFontSize

    .paginator
      float left

    label
      display inline-block
      padding 0 5px 0 15px
      margin 0

    select
      padding 5px

  ul
    padding-left 0
    li
      margin 0 0 5px 0
      padding 0 0 5px 20px
      list-style none
      cursor default
      position relative
      border-bottom  1px solid backgroundColor

      input.marked-rule-checkbox
        position absolute
        left 0
        top 8px

      .rule
        color foundRuleColor
        cursor default
        -moz-user-select text
        -ms-user-select text
        -webkit-user-select text

      .loading
        display none

      .ruleActions
        ruleActions()
        top 5px

        a.bk
          background transparent url('../images/sprite-icons.png') -19px -119px no-repeat

        a.clear
          background transparent url('../images/icon-stop-20.png') left center no-repeat

        a.details
          background transparent url('../images/icon-info-20.png') left center no-repeat

        a.kb-add[rel=positive]
          background transparent url('../images/icon-thumb-up-20.png') left center no-repeat
          &:hover
            background transparent url('../images/icon-thumb-up-20-active.png') left center no-repeat

        a.kb-add[rel=negative]
          background transparent url('../images/icon-thumb-down-20.png') left center no-repeat
          &:hover
            background transparent url('../images/icon-thumb-down-20-active.png') left center no-repeat

      .ims
        display block
        ruleIMs()

      &.loading
        .ruleActions
          background transparent url('../images/icon-loading-20.gif') left center no-repeat
          >a
            visibility hidden !important

      &:hover
        .ruleActions
          >a
            visibility visible

  .marked-rules-multi-controls
    min-height 25px
    position relative
    padding-bottom 10px
    border-bottom 2px solid linkColor
    .all
      iconLink()
      background transparent url('../images/icon-select-all.png') center center no-repeat
    .none
      iconLink()
      background transparent url('../images/icon-select-none.png') center center no-repeat
    .invert
      iconLink()
      background transparent url('../images/icon-select-invert.png') center center no-repeat

    .marked-rules-checkbox-controls
      float left

    .actions
      margin-left 10px
      >a
        taskActionLink()
        display none
        &.mark
          background transparent url('../images/icon-ok-20.png') left center no-repeat
        &.unmark,&.kb-unmark
          background transparent url('../images/icon-stop-20.png') left center no-repeat
        &.kb-add[rel=positive]
          background transparent url('../images/icon-thumb-up.png') left center no-repeat
        &.kb-add[rel=negative]
          background transparent url('../images/icon-thumb-down.png') left center no-repeat
        &.visible
          display inline-block

    .task-actions
      float right
      margin-top 3px
      >a
        taskActionLink()
        &.mark-all
          background transparent url('../images/icon-ok-20.png') left center no-repeat
        &.task-details
          background transparent url('../images/icon-goreport-20.png') left center no-repeat
