nav
  color color
  float left
  width navWidth
  margin boxMargin 5px 0 boxMargin
  line-height 20px

navigationH2()
  h2Small()
  margin 5px 20px 15px 20px
  padding-bottom 5px
  border-bottom 1px solid h2Color

navigationBox()
  box()
  padding-left 10px
  padding-right 10px
  margin-bottom boxMargin


#attributes
  navigationBox()

  h2
    navigationH2()

  h2.minimize a
    background transparent url('../images/sprite-icons.png') -20px -220px no-repeat

  h2.maximize a
    background transparent url('../images/sprite-icons.png') -19px -169px no-repeat

  h2 a
    display block; width 12px; height 12px
    float right
    position relative; top 5px
    margin-left 5px/*FIXME*/

  ul#attributes-by-group
    background transparent url('../images/icon-group4.png') 0 2px no-repeat

  #attributes-by-group > li
    padding-left 20px

  #attributes-by-group span
    color h2Color
    font-size 14px

  #attributes-by-group span.coefficient
    coefficient()

  a#attributes-by-list,
  a#attributes-by-group
    font-size 13px

  li
    cursor move
    float left; clear left
    &.rec1
      background transparent url('../images/sprite-icons.png') -20px -415px no-repeat
    &.rec2
      background transparent url('../images/sprite-icons.png') -20px -463px no-repeat
    &.used
      color #AAA
    .add
      background transparent url("../images/sprite-icons.png") -166px -162px no-repeat
      float left
      width 20px; height 20px
      visibility hidden
    &:hover
      color #000
      .add
        visibility visible

  a.edit-attribute
    edit()
    margin-left 10px
    float right

  li:hover a.edit-attribute
    visibility visible

  a.show-histogram
    showHistogram()
    margin-left 10px
    float right
    visibility hidden

  li:hover a.show-histogram
    visibility visible

  a.remove-attribute
    remove()
    margin-left 5px
    float right

  li:hover a.remove-attribute
    visibility visible

  #etree-progress
    color #666
    font-size 14px
    background transparent url("../images/icon-loading-bw-16.gif") 0 3px no-repeat
    display block
    padding-left 20px
    margin 5px 0 5px 20px

  #show-hidden-attributes
    color linkColor
    font-size 14px
    float right
    margin-top 8px

  #add-all-unused-attributes
    clear right
    color linkColor
    font-size 14px
    float right
    padding-left 21px
    margin-top 8px
    display none
    background transparent url("../images/sprite-icons.png") -166px -162px no-repeat


#data-fields
  navigationBox()

  h2
    navigationH2()

  h2.minimize a
    background transparent url('../images/sprite-icons.png') -20px -220px no-repeat

  h2.maximize a
    background transparent url('../images/sprite-icons.png') -19px -169px no-repeat

  h2 a
    display block; width 12px; height 12px
    float right
    position relative; top 5px
    margin-left 5px/*FIXME*/

  ul
    margin-bottom 10px

  li
    cursor move
    float left; clear left
    .add
      background transparent url("../images/sprite-icons.png") -166px -162px no-repeat
      display block
      float left
      width 20px; height 20px
      visibility hidden
    .show-histogram
      showHistogram()
      margin-left 10px
      float right
      visibility hidden
    &:hover
      color #000
      .add
        visibility visible
      .show-histogram
        visibility visible

#knowledge-base-select
  navigationBox()

  h2
    navigationH2()

  .clearfix
    padding 0 20px
    line-height 1.8

    select
      width 100%

    #change-ruleset
      color linkColor
      font-size 14px
      float right

#navigation h2.maximize .filter,
#navigation h2.maximize .selectable
    display none

attributeIconLink()
  iconLink()
  float left
  margin-right 2px
  margin-top 4px
#attributes, #data-fields
  .datas-filter
    display none
    margin 5px 20px
  input[type='text']
    width 180px
    padding 2px 3px
    background none
    border 1px solid #aaa /*TODO nahradit parametry!*/
    -moz-user-select text
    -ms-user-select text
  a.reset-filter
    float right
    background transparent url("../images/sprite-icons.png") -19px -15px no-repeat
    display block
    width 16px
    height 20px
    margin 2px 0 0 5px
  .filter
    display block
    width 20px
    height 20px
    float right
    top 3px !important
    background transparent url("../images/icon-filter.png") no-repeat 0 0 !important
  .selectable
    display block
    width 20px
    height 20px
    float right
    top 3px !important
    background transparent url("../images/icon-checkboxes.png") no-repeat 0 0 !important
  .filter-active
    background-position 0 -20px !important
  li
    span
      display inline-block
      max-width 190px
      height 18px
      padding 1px 0
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

  .navigation-checkbox-controls
    clear both
    display none
    float left
    height 28px
    overflow hidden
    width auto
    #add-selected-attributes,
    #add-selected-data-fields
      display none
      color linkColor
      font-size 14px
      float right
      padding-left 21px
      margin-top 8px
      background transparent url("../images/sprite-icons.png") -166px -162px no-repeat
    .all
      attributeIconLink()
      background transparent url('../images/icon-select-all.png') center center no-repeat
    .none
      attributeIconLink()
      background transparent url('../images/icon-select-none.png') center center no-repeat
    .invert
      attributeIconLink()
      background transparent url('../images/icon-select-invert.png') center center no-repeat


  &.with-checkboxes-actions .navigation-checkbox-controls
    width 100%

  input[type='checkbox']
    display none
    float left
    width 20px
    margin-top 4px
  &.show-checkboxes
    input[type='checkbox']
      display block
    .add
      display none
    .navigation-checkbox-controls
      display block

/*
#reports
  box()
  padding-bottom 20px
  margin-bottom 25px

  h2
    navigationH2()

  h2.minimize a
    background transparent url('../images/sprite-icons.png') -20px -220px no-repeat

  h2.maximize a
    background transparent url('../images/sprite-icons.png') -19px -169px no-repeat

  h2 a
    display block; width 12px; height 12px
    float right
    position relative; left 1px; top 5px

  ul
    margin-bottom 10px
*/
