nav
  color color
  float left
  width navWidth
  margin boxMargin 5px 0 boxMargin
  line-height 20px

  #navigation-controls
    display none
    border-radius 50%
    width 30px
    margin-left auto
    #menu-controller
      flexbox(flex)
      flex-aliign(center)
      background transparent url("../images/arrow-right.png") 5px 5px no-repeat
      background-size 20px
      height 30px
      width 30px
      text-decoration none
  .nav-header-control
    flexbox(flex)

  +tablet()
    flexbox(flex)
    flex-direction(column)
    margin-right 10px
    width auto
    max-width navWidth - 40px
    // min-width navWidth - 40px
    width 100%
    section 
      flexbox(flex)
      flex-direction(column)
    #navigation-controls
      flexbox(flex)
    +mobile_p()
      max-width initial
  &.hide
    +tablet()
      width 40px
      min-width initial
      max-width initial
      #navigation-controls
        flexbox(flex)
        #menu-controller
          background transparent url("../images/arrow-left.png") 5px 5px no-repeat
          background-size 20px
          height 30px
          width 30px
          text-decoration none
      #attributes,
      #data-fields,
      #knowledge-base-select
        padding 0
        h2
          width 15px
          white-space nowrap
          overflow hidden
        .nav-header-control
          display none
          margin 0
          padding 0
        .datas-filter
          display none
        .clearfix
          display none
      #navigation-checkbox-controls,
      #add-all-unused-attributes
          display none
        
        

navigationH2()
  h2Small()
  // display block
  // flexbox(flex)

navigationBox()
  box()
  padding-left 10px
  padding-right 10px
  margin-bottom boxMargin



.attributesPalette
  navigationBox()

  h2
    navigationH2()

  h2.minimize a
    background transparent url('../images/sprite-icons.png') -20px -220px no-repeat

  h2.maximize a
    background transparent url('../images/sprite-icons.png') -19px -169px no-repeat

  h2 a
    display block
    width 12px
    height 12px
    float right
    position relative
    top 5px
    margin-left 5px/*FIXME*/

  ul
    margin-bottom 10px

  li
    cursor move
    float left
    clear left
    &:hover
      color #000
      .action
        visibility visible

#attributes
  ul#attributes-by-group
    background transparent url('../images/icon-group4.png') 0 2px no-repeat

  #attributes-by-group > li
    padding-left 20px

  #attributes-by-group span
    color h2Color
    font-size 14px

  #attributes-by-group span.coefficient
    coefficient()

  a#attributes-by-list,
  a#attributes-by-group
    font-size 13px
    li
      display list-item

  #att-menu-wrapper
    flexbox(flex)
    flex-direction(row)
    flex-justify(space-between)
    border-bottom 1px solid h2Color
    margin 0 10px 5px 10px
    h2 
      margin 2px

  div.clearfix
    padding 0 10px
  ul
    margin 0
    li
      flexbox(flex)
      flex-direction(row)
      flex-justify(start)
      flex-align(center)
      width 100%
      cursor move
      float left
      clear left
      margin 0
      padding 2px 0
      &.rec1
        background transparent url('../images/sprite-icons.png') -20px -415px no-repeat
      &.rec2
        background transparent url('../images/sprite-icons.png') -20px -463px no-repeat
      &.used
        color #AAA
      .add
        background transparent url("../images/sprite-icons.png") -166px -162px no-repeat
        float left
        width 20px
        height 20px
        margin-left 5px
        visibility hidden
        +tablet()
          visibility visible
      &:hover
        color #000
        .add
          visibility visible
  +tablet()
    padding-top 0 !important
    li 
      flexbox(flex)
      span
        word-break break-all
        margin-right 5px
        
    a[id^=nav-control-menu-]
      flexbox(flex)
      margin-left auto
      background transparent url("../images/hamburger-icon.png")
      background-size 20px
      width 20px
      height 20px
      &.hide-nav-menu
        display none
    div[id^=nav-attribute-control-]
      flexbox(flex)
      margin-left auto
      &.hide-nav-control 
        margin-left 5px
        display none
    &.show-checkboxes
      li
        flexbox(flex) 
        flex-justify(start)
        flex-align(start)
        a[id^=nav-control-menu-]
          display none
        div[id^=nav-attribute-control-]
          display none
      #add-all-unused-attributes
        display none
        &.show
          flexbox(flex)

  a.edit-attribute
    edit()
    margin-left 10px
    float right

  li:hover a.edit-attribute
    visibility visible

  a.show-histogram
    showHistogram()
    margin-left 5px
    float right
    visibility hidden
    +tablet()
        visibility visible

  li:hover a.show-histogram
    visibility visible

  a.remove-attribute
    remove()
    margin-left 5px
    float right
    +tablet()
        visibility visible

  li:hover a.remove-attribute
    visibility visible

  #etree-progress
    color #666
    font-size 14px
    background transparent url("../images/icon-loading-bw-16.gif") 0 3px no-repeat
    display block
    padding-left 20px
    margin 5px 0 5px 20px

  #show-hidden-attributes
    color linkColor
    font-size 14px
    float right
    margin-top 8px

  #add-all-unused-attributes
    clear right
    color linkColor
    font-size 14px
    float right
    padding-left 21px
    margin-top 8px
    display none
    background transparent url("../images/sprite-icons.png") -166px -162px no-repeat
    +tablet()
      margin-left 20px


#data-fields
  #df-menu-wrapper
    flexbox(flex)
    flex-direction(row)
    flex-justify(space-between)
    border-bottom 1px solid h2Color
    margin 0 10px 5px 10px
    h2 
      margin 2px
  div.clearfix
    padding 0 10px
  ul
    margin 0
    li
      flexbox(flex)
      flex-direction(row)
      flex-justify(start)
      flex-align(center)
      width 100%
      cursor move
      float left
      clear left
      margin 0
      padding 2px 0
      .add
        background transparent url("../images/sprite-icons.png") -166px -162px no-repeat
        display block
        float left
        width 20px
        height 20px
        visibility hidden
        +tablet()
          visibility visible
      .show-histogram
        showHistogram()
        margin-left 10px
        float right
        visibility hidden
        +tablet()
          visibility visible
          margin-left 5px
      &:hover
        color #000
        .add
          visibility visible
        .show-histogram
          visibility visible

  +tablet()
    ul
      margin 0
      li 
        flexbox(flex)
        width 100%
    div[id^=field-nav-attribute-control-]
        flexbox(flex)
        margin-left auto
        &.hide-nav-control-field
          display none
    a[id^=field-nav-control-menu-]
      flexbox(flex)
      margin-left auto
      background transparent url("../images/hamburger-icon.png")
      background-size 20px
      width 20px
      height 20px
      &.hide-nav-control-menu
        display none
    &.show-checkboxes
      li
        flexbox(flex) 
        flex-justify(start)
        flex-align(start)
        a[id^=field-nav-control-menu-]
          display none
        div[id^=field-nav-attribute-control-]
          display none



#knowledge-base-select
  navigationBox()
  box-shadow(10px, 0, 10px, 0, rgba(0, 0, 0, 0.4))

  #kb-menu-wrapper
    flexbox(flex)
    flex-direction(row)
    flex-justify(space-between)
    border-bottom 1px solid h2Color
    margin 0 10px 5px 10px
    h2
      navigationH2() 
      margin 2px

  .clearfix
    padding 0 10px
    +tablet()
      padding 0 10px
    line-height 1.8

    select
      width 100%

    #change-ruleset
      color linkColor
      font-size 14px
      float right
  #kb-ruleset
    flexbox(flex)
    flex-direction(column)
    font-weight bold
    word-wrap break-word
    span
      margin-top 10px
      font-weight normal
  // &.hide
  //   div.clearfix
  //     display none
  //   #kb-menu-wrapper
  //     margin-left 0
  &.collapse
    display none

#navigation h2.maximize .filter,
#navigation h2.maximize .selectable
    display none

attributeIconLink()
  iconLink()
  float left
  margin-right 2px
  margin-top 4px
  +tablet()
    flexbox(flex)
    margin 5px

#attributes, #data-fields
  navigationBox()
  box-shadow(5px, 5px, 10px, 0, rgba(0, 0, 0, 0.4))

  h2
    navigationH2()

  h2.minimize a
    background transparent url('../images/sprite-icons.png') -20px -220px no-repeat

  h2.maximize a
    background transparent url('../images/sprite-icons.png') -19px -169px no-repeat

  h2 a
    display block
    width 12px
    height 12px
    float right
    position relative
    top 5px
    margin-left 5px/*FIXME*/

  .datas-filter
    display none
    margin 5px 20px
    margin-right 5px
    flex-direction(row)
    flex-justify(space-between)
  input[type='text']
    width 180px
    padding 2px 3px
    background none
    border 1px solid #aaa /*TODO nahradit parametry!*/
    -moz-user-select text
    -ms-user-select text
    +tablet()
      width initial
  a.reset-filter
    float right
    background transparent url("../images/sprite-icons.png") -19px -15px no-repeat
    display block
    width 16px
    height 20px
    margin 2px 0 0 5px
  .filter
    display block
    width 20px
    height 20px
    float right
    top 3px !important
    background transparent url("../images/icon-filter.png") no-repeat 0 0 !important
  .selectable
    display block
    width 20px
    height 20px
    float right
    top 3px !important
    background transparent url("../images/icon-checkboxes.png") no-repeat 0 0 !important
  .filter-active
    background-position 0 -20px !important
  li
    span
      display inline-block
      max-width 190px
      height 18px
      padding 1px 0
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      +tablet()
        flexbox(flex)
        padding-top 3px
        overflow initial
        text-overflow initial
        white-space initial
        height initial
        word-break break-word
  
  .nav-header-control
    flex-direction(row-reverse)
    a
      margin 2px
      &.toggle
        width 20px
        height 20px
        &.minimize
          background transparent url('../images/sprite-icons.png') -16px -216px no-repeat
        &.maximize
          background transparent url('../images/sprite-icons.png') -15px -165px no-repeat

  .navigation-checkbox-controls
    clear both
    display none
    float left
    height 28px
    overflow hidden
    width auto
    +tablet()
      flex-direction(row)
      height 100%
      a 
        flex-align(center)
    #add-selected-attributes,
    #add-selected-data-fields
      display none
      color linkColor
      font-size 14px
      float right
      padding-left 21px
      margin-top 8px
      background transparent url("../images/sprite-icons.png") -166px -162px no-repeat
    .all
      attributeIconLink()
      background transparent url('../images/icon-select-all.png') center center no-repeat
      +tablet()
        background transparent url('../images/icon-select-all.png') no-repeat
        margin-left 10px
    .none
      attributeIconLink()
      background transparent url('../images/icon-select-none.png') center center no-repeat
      +tablet()
        background transparent url('../images/icon-select-none.png') no-repeat
    .invert
      attributeIconLink()
      background transparent url('../images/icon-select-invert.png') center center no-repeat
      +tablet()
        background transparent url('../images/icon-select-invert.png') no-repeat


  &.with-checkboxes-actions .navigation-checkbox-controls
    width 100%

  input[type='checkbox']
    display none
    float left
    width 20px
    margin-top 4px
    +tablet()
      width 18px
      height 18px
      margin 3px
      padding 10px

  &.show-checkboxes
    input[type='checkbox']
      display block
      +tablet()
        felxbox(flex)
        flex-align(center)
    .add
      display none
    .navigation-checkbox-controls
      display block
      +tablet()
        flexbox(flex)
        height auto

  // &.hide
  //   div.clearfix
  //     display none
  //   #att-menu-wrapper
  //   #df-menu-wrapper
  //     margin-left 0
  //     margin-right 0

// #menu-controller
  // display none
  // background transparent url("../images/arrow-right.png") 5px 5px no-repeat
  // background-size 20px
  // height 30px
  // width 30px
  // text-decoration none
  // margin 3px
  // padding 5px
  // &.hide
  //   display none
  //   +tablet()
  //     flexbox(flex)
  //     background transparent url("../images/arrow-left.png") -2px 5px no-repeat
  //     background-size 20px
  //     height 30px
  //     width 30px
  //     text-decoration none
  //     #navigation
  //       min-width initial !important
  //       max-width initial !important

// #attributes
//   &.hide
//     +tablet()
//       #attributes-by-list
//         display none

/*
#reports
  box()
  padding-bottom 20px
  margin-bottom 25px

  h2
    navigationH2()

  h2.minimize a
    background transparent url('../images/sprite-icons.png') -20px -220px no-repeat

  h2.maximize a
    background transparent url('../images/sprite-icons.png') -19px -169px no-repeat

  h2 a
    display block; width 12px; height 12px
    float right
    position relative; left 1px; top 5px

  ul
    margin-bottom 10px
*/
