pagerButton()
  invisButton()
  display inline-block
  padding 3px 6px
  min-width 16px
  margin 0 1px
  &.active
    background invisButtonHoverColor
    color invisButtonHoverBackground
    border invisButtonHoverBorder

.paginator
  a
    pagerButton()
    &.disabled
      cursor no-drop
      border 1px solid backgroundColor
      color backgroundColor
    &.active
      border

  .loading
    background transparent url('../images/icon-loading-20.gif') left center no-repeat
    padding 3px 0 3px 25px
    margin-left 10px
    display none

  &.loading
    .loading
      display inline-block