#overlay
  color #434343
  font font
  background none rgba(0, 0, 0, 0.6)
  position absolute; top 0; left 0
  visibility hidden
  z-index 1

  form
    line-height 36px
    em
      color h2ARColor
      font-size 14px
      float left
      padding-left 5px
      position relative; top -11px

    em.normal
      font-style normal

    #message
      color errorColor
      line-height 1em

    label
      font-weight bold
      font-size 14px
      text-align right
      line-height 1.3em
      padding-right 5px
      display block; width 140px
      float left; clear left

    select
      padding 4px 2px 1px

    input[type='text'],
    input[type='number'],
    select
      color color
      font-size 14px
      border 1px solid #AAA
      background-color #FFF
      float left
      padding 4px 2px 1px
      position: relative; top: -4px
      margin-bottom 10px

    input[type='number'].shortnr
      text-align right
      width 75px

    input[type='number'][readonly]
      color #7B0D2E
      font-size 20px
      border none
      font-weight bold
      width 30px
      float left

    input[type='submit']
      color #FFFFFF
      font-family font
      font-size 30px
      background #4C8E0E none
      border 1px solid #AAA
      border-radius(5px)
      text-shadow 0 -1px 0 rgba(0, 0, 0, 0.3)
      display block; width 170px
      margin-left 130px; margin-top 50px; padding 10px 28px
      cursor pointer

    .slider
      background #FFF none
      border 1px solid #A6C9E2
      border-radius(5px)
      width 133px; height 5px
      position relative; top 5px
      float left

      .knob
        background-color #0078AE
        border 1px solid #77D5F7
        color #FFFFFF
        font-weight normal
        outline medium none
        border-radius(5px)
        width 10px; height 10px
        position relative; top -3px
        cursor move

    #add-coefficient-autocomplete table,
    #edit-coefficient-autocomplete table
      line-height 1em
      clear left
      margin-top 1em

    .info
      info()

    .tooltip
      tooltip()

  h2
    h2()
    font-size 36px
    margin 0 0 20px 0

  > div
    overlay()

  > div > a
    overlay-close()

  #new-task-button
    background transparent
    float none
    padding 0
    top 0

  #add-attribute-window,
  #edit-attribute-window,
  #new-task-window,
  #show-histogram-window,
  #user-login-window,
  #user-logout-window,
  #create-user-report-window,
  #export-business-rules-window
    width 800px
    margin-top 45px
    iframe
      border none
      width 800px; height 500px
    form
      input[type="submit"]
        margin-left 310px

  #loading-data
    text-align center
    background #FFF url('../images/icon-loading-big.gif') center 30px no-repeat
    padding 100px 0 40px
    &.error
      background #FFF url('../images/sprite-icons.png') 160px -743px no-repeat
