
//import basic shared styles
@import '_mixins.styl'

//import project specific styles
@import '_popup.styl'
@import '_settings.styl'
@import '_navigation.styl'
@import '_ar_pattern.styl'
@import '_paginator.styl'
@import '_found-rules.styl'
@import '_marked-rules.styl'
@import '_reports.styl'

*
  userSelect(none)

#wrapper
  min-height 500px
  min-width minContentWidth2
  width minContentWidth2
  margin 0 auto
  position relative

section#workplace
  margin 0 auto; padding-bottom boxMargin
  float left

section#content
  box()
  min-width minContentWidth
  float left
  margin boxMargin 0 0 boxMargin

  h2
    h2AR()
    margin 0

  h3
    color h3ContentColor
    font h3ContentFont
    border-bottom 1px solid h3ContentColor
    line-height 20px
    margin-bottom 10px
