
//import basic shared styles
@import '_mixins.styl'

//import project specific styles
@import '_popup.styl'
@import '_settings.styl'
@import '_navigation.styl'
@import '_ar_pattern.styl'
@import '_paginator.styl'
@import '_found-rules.styl'
@import '_marked-rules.styl'
@import '_reports.styl'

*
  userSelect(none)

#wrapper
  min-height 500px
  min-width minContentWidth2
  width minContentWidth2
  margin 0 auto
  position relative

section#workplace
  margin 0 auto; padding-bottom boxMargin
  float left

section#content
  box()
  min-width minContentWidth
  float left
  margin boxMargin 0 0 boxMargin

  h2
    h2AR()
    margin 0

  h3
    color h3ContentColor
    font h3ContentFont
    border-bottom 1px solid h3ContentColor
    line-height 20px
    margin-bottom 10px


a.kbAddPositive
  background transparent url('../images/icon-thumb-up-20.png') left center no-repeat
  &[class^="kbPositive"],&[class*=" kbPositive"]
    visibility visible !important
    height 21px
    opacity 0.5
  &.kbPositiveNotice
    background transparent url('../images/icon-thumb-up-notice.png') left top no-repeat
  &.kbPositive10,&.kbPositive20
    background transparent url('../images/icon-thumb-up-rate20.png') left top no-repeat
  &.kbPositive30,&.kbPositive40
    background transparent url('../images/icon-thumb-up-rate40.png') left top no-repeat
  &.kbPositive50,&.kbPositive60
    background transparent url('../images/icon-thumb-up-rate60.png') left top no-repeat
  &.kbPositive70,&.kbPositive80,&.kbPositive90
    background transparent url('../images/icon-thumb-up-rate80.png') left top no-repeat
  &:hover,&.kbPositive100
    background transparent url('../images/icon-thumb-up-20-active.png') left center no-repeat

a.kbRemovePositive
  visibility visible !important
  background transparent url('../images/icon-thumb-up-20-active.png') left center no-repeat
  &:hover
    background transparent url('../images/icon-thumb-up-20-remove.png') left center no-repeat

a.kbAddNegative
  background transparent url('../images/icon-thumb-down-20.png') left center no-repeat
  &[class^="kbNegative"],&[class*=" kbNegative"]
    visibility visible !important
    height 21px
    opacity 0.5
  &.kbNegativeNotice
    background transparent url('../images/icon-thumb-down-notice.png') left top no-repeat
  &.kbNegative10,&.kbNegative20
    background transparent url('../images/icon-thumb-down-rate20.png') left top no-repeat
  &.kbNegative30,&.kbNegative40
    background transparent url('../images/icon-thumb-down-rate40.png') left top no-repeat
  &.kbNegative50,&.kbNegative60
    background transparent url('../images/icon-thumb-down-rate60.png') left top no-repeat
  &.kbNegative70,&.kbNegative80,&.kbNegative90
    background transparent url('../images/icon-thumb-down-rate80.png') left top no-repeat
  &:hover,&.kbNegative100
    background transparent url('../images/icon-thumb-down-20-active.png') left center no-repeat

a.kbRemoveNegative
  visibility visible !important
  background transparent url('../images/icon-thumb-down-20-active.png') left center no-repeat
  &:hover
    background transparent url('../images/icon-thumb-down-20-remove.png') left center no-repeat