section#active-rule
  #antecedent, #interest-measures, #succedent
    float left
    height 200px

  #antecedent
    .cedent
      cedent()
    >.cedent
      firstCedent()

  #interest-measures
    margin-left boxMargin
    width interestMeasuresWidth
    #add-im
      font-size 14px
      background transparent url('../images/sprite-icons.png') -167px -162px no-repeat
      margin 0 0 0 10px; padding-left 20px
      float left
    .im
      interestMeasureMixin()
      float left; clear left
      margin-bottom 7px
      .edit-im
        edit()
        margin-right 5px
        float left
      &:hover .edit-im
        visibility visible
      .remove-im
        remove()
        float left
      &:hover .remove-im
        visibility visible

  #succedent
    margin-left boxMargin
    .cedent
      cedent()
    >.cedent
      firstCedent()

  .no-restriction
    background transparent url('../images/sprite-icons.png') -20px -714px no-repeat
    padding 1px 0 0 17px; margin-top 2px
    float left; clear left
    cursor help

  #action-box
    background transparent url('../images/sprite-icons.png') -12px -307px no-repeat
    display block; height 32px
    margin 25px 0 10px; padding 9px 0 0 38px