#found-rules
  clear left
  line-height 20px
  padding-top 20px

  ul
    width 100%
    float left
    li
      width 100%
      float left; clear left

  .connective
    connective()

  .coefficient
    coefficient()

  .rule
    associationRule()

  .ims
    ims()

  .im-value
    imValue()

  .info
    font-weight normal
    background transparent url('../images/sprite-icons.png') -118px -217px no-repeat
    display none; width 16px; height 16px
    position relative; top 7px; left 6px
    margin-right 10px
    float left

  .bk
    background transparent url('../images/sprite-icons.png') -19px -119px no-repeat
    display block; width 16px; height 16px
    position relative; top 7px
    margin 0 10px
    visibility hidden
    float left

  li:hover > .bk
    visibility visible

  #found-rules .mark
    background transparent url('../images/sprite-icons.png') -18px -68px no-repeat
    display block; width 16px; height 16px
    position relative; top 7px
    margin-left 10px
    visibility hidden
    float left

  li:hover > .mark
    visibility visible

  .clear
    remove()
    float left

  li:hover > .clear
    visibility visible

.found-rule
  .id
    width 25px
    font-size 0.8em
    text-align right
    display block; width 25px
    margin-right 3px
    float left

  .loading
    loading()
    opacity 0; visibility hidden
    float right

  .tip-visible
    tip()

  .field-sign.negative
    background transparent url('../images/sprite-icons.png') -118px -173px no-repeat
    padding-left 13px