box()
  color color
  background-color #FFF
  border-radius(5px)
  border 1px solid boxBorderColor
  box-shadow(0, 0, 10px, boxShadowColor)
  padding 10px

overlay()
  background-color #FFF
  border-radius(15px)
  border 2px solid overlayBorderColor
  box-shadow(5px, 5px, 5px, overlayShadowColor)
  width 435px
  margin 10% auto; padding 35px 25px

overlay-close()
  color #126499
  background transparent url('../images/sprite-icons.png') -67px -116px no-repeat
  padding-left 20px
  float right
  position relative; top -20px

h2()
  color h2Color
  font h2Font
  font-weight bold
  border-bottom 1px solid h2Color

h2AR()
  color h2ARColor
  font h2ARFont
  font-weight normal
  border-bottom none

associationRule()
  float left
  height 38px
  .id
    font-size 0.8em
    text-align right
    display block; width 35px
    margin-right 3px; margin-top 9px
    float left
  .cedent
    cedent()
  >.cedent
    firstCedent()
  .quantifier
    float left
    margin-top 5px

cedent()
  float left
  border 1px dashed #FFF
  border-radius(10px)
  background-color #FFF
  padding 2px
  &.empty
    border 1px dashed #000
  a.group-fields
    background transparent url('../images/sprite-icons.png') -168px -215px no-repeat
    padding-left 17px
    float right
  .fields
    fields()
  .group-fields
    font-size 14px
    position relative; top 23px

fields()
  .field
    field()
  .field:hover
    a.remove-field
      visibility visible
    a.edit-coefficient
      visibility visible
    a.mark-field
      visibility visible
    a.change-sign.positive
      visibility visible
  .connective
    connective()
  .left-bracket,
  .right-bracket
    bracket()

field()
  float left
  height 40px
  margin 0 2px
  .coefficient
    coefficient()
  .field-drag
    cursor move
  .change-sign.negative,
  .field-sign.negative
    background transparent url('../images/sprite-icons.png') -118px -161px no-repeat
    width 13px; height 20px
    float left
  .controls
    fieldControls()

fieldControls()
  a.edit-coefficient
    edit()
    margin-left 2px
    float right
  a.remove-field
    remove()
    margin-left 5px
    float right
  a.mark-field
    background transparent url('../images/sprite-icons.png') -67px -212px no-repeat
    display block; width 16px; height 20px
    margin-right 3px
    float right
    visibility hidden
  a.marked-field
    background transparent url('../images/sprite-icons.png') -68px -260px no-repeat
    display block; width 16px; height 20px
    margin-right 3px
    float right
    visibility visible
  a.change-sign.positive
    background transparent url('../images/sprite-icons.png') -118px -161px no-repeat
    display block; width 16px; height 20px
    float right
    visibility hidden

firstCedent()
  >.fields
    >.field, >.connective
        margin-top 3px

coefficient()
  color #925213
  font-size 0.85em
  position relative; top -1px;
  margin-left 3px

connective()
  color #336600
  font-size 14px
  position relative; top 1px
  margin 0 1px
  float left

bracket()
  font-size 18px
  float left
  position relative; top -2px

interestMeasureMixin()
  .name
    font-size 14px
    width 160px
    float left
  .threshold, .alpha
    color interestMeasureValueColor

ims()
  font-size 12px;
  float left; clear left
  position relative; top -8px; left 44px
  .im-value
    color interestMeasureValueColor
    margin-left 0.5ex

edit()
  background transparent url('../images/sprite-icons.png') -19px -262px no-repeat
  display block; width 16px; height 20px
  visibility hidden

remove()
  background transparent url('../images/sprite-icons.png') -19px -15px no-repeat
  display block; width 16px; height 20px
  visibility hidden

showHistogram()
  background transparent url('../images/sprite-icons.png') -20px -664px no-repeat
  display block; width 16px; height 20px
  visibility hidden

loading()
  background transparent url('../images/sprite-icons.png') -18px -416px no-repeat
  display block; width 16px; height 20px

tip()
  border-radius(5px)
  box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.3))
  background-color #FFF
  height 22px
  padding 7px 5px 0 10px

border-radius(n)
  border-radius n
  -webkit-border-radius n
  -moz-border-radius n

box-shadow(h, v, blur, color)
  box-shadow v h blur color
  -webkit-box-shadow v h blur color
  -moz-box-shadow v h blur color

userSelect(value)
  user-select: value
  -webkit-touch-callout: value
  -webkit-user-select: value
  -khtml-user-select: value
  -moz-user-select: value
  -ms-user-select: value

info()
  background transparent url('../images/sprite-icons.png') -20px -714px no-repeat
  display block; float right
  position relative; top -2px
  width 24px; height 24px

tooltip()
  color #000000
  text-decoration none
  outline none
  cursor help
  position relative
  >span
    font-size 0.9em
    line-height 1.25em
    margin-left -999em; padding: 0.5em 0.8em 0.8em 2em
    position absolute
  &:hover
    >span
      font-family 'Calibri' 'Tahoma' 'Geneva' sans-serif
      border-radius(5px)
      box-shadow(5px, 5px, 5px, rgba(0, 0, 0, 0.1))
      width 250px
      margin-left -3em
      position absolute; top 2em; left 1em
      z-index 99
    img
      border 0
      margin -10px 0 0 -55px
      float left
      position absolute
    em
      font-family 'Candara' 'Tahoma' 'Geneva' sans-serif
      font-size 1.2em
      font-weight bold
      display block
      padding 0.2em 0 0.6em 0
      float none
      top 0
  > .help
    background-color #D3E6F4
    border 1px solid #2BB0D7
  > .warning
    background-color #FFFFAA
    border 1px solid #FFAD33
