nav
  color color
  float left
  width navWidth
  margin boxMargin boxMargin 0 boxMargin
  line-height 20px

#attributes
  box()
  margin-bottom 25px

  h2
    h2()
    margin-bottom 5px
    margin 0 20px 5px

  h2.minimize a
    background transparent url('../images/sprite-icons.png') -20px -220px no-repeat

  h2.maximize a
    background transparent url('../images/sprite-icons.png') -19px -169px no-repeat

  ul#attributes-by-group
    background transparent url('../images/icon-group4.png') 0 2px no-repeat

  #attributes-by-group > li
    padding-left 20px

  #attributes-by-group span
    color h2Color
    font-size 14px

  #attributes-by-group span.coefficient
    coefficient()

  a#attributes-by-list,
  a#attributes-by-group
    font-size 13px

  li
    cursor move
    float left; clear left
    &.rec1
      background transparent url('../images/sprite-icons.png') -20px -415px no-repeat
    &.rec2
      background transparent url('../images/sprite-icons.png') -20px -463px no-repeat
    &.used
      color #AAA
    .add
      background transparent url("../images/sprite-icons.png") -166px -162px no-repeat
      float left
      width 20px; height 20px
      visibility hidden
    &:hover
      color #000
      .add
        visibility visible

  a.edit-attribute
    edit()
    margin-left 10px
    float right

  li:hover a.edit-attribute
    visibility visible

  a.show-histogram
    showHistogram()
    margin-left 10px
    float right

  li:hover a.show-histogram
    visibility visible

  a.remove-attribute
    remove()
    margin-left 5px
    float right

  li:hover a.remove-attribute
    visibility visible

  #etree-progress
    color #666
    font-size 14px
    background transparent url("../images/icon-loading-small.gif") 0 3px no-repeat
    display block
    padding-left 20px
    margin 5px 0 5px 20px

  #show-hidden-attributes
    color linkColor
    font-size 14px
    float right

#data-fields
  box()
  padding-bottom 20px
  margin-bottom 25px

  h2
    h2()
    margin 0 20px 5px

  h2.minimize a
    background transparent url('../images/sprite-icons.png') -20px -220px no-repeat

  h2.maximize a
    background transparent url('../images/sprite-icons.png') -19px -169px no-repeat

  h2 a
    display block; width 12px; height 12px
    float right
    position relative; left 1px; top 5px

  ul
    margin-bottom 10px

  li
    cursor move
    float left; clear left
    .add
      background transparent url("../images/sprite-icons.png") -166px -162px no-repeat
      display block
      float left
      width 20px; height 20px
      visibility hidden
    .show-histogram
      showHistogram()
      margin-left 10px
      float right
    &:hover
      color #000
      .add
        visibility visible
      .show-histogram
        visibility visible

#reports
  box()
  padding-bottom 20px
  margin-bottom 25px

  h2
    h2()
    margin 0 20px 5px

  h2.minimize a
    background transparent url('../images/sprite-icons.png') -20px -220px no-repeat

  h2.maximize a
    background transparent url('../images/sprite-icons.png') -19px -169px no-repeat

  h2 a
    display block; width 12px; height 12px
    float right
    position relative; left 1px; top 5px

  ul
    margin-bottom 10px