#overlay {
  color: #434343;
  font: font;
  background: none rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 1;
  width: 100%;
  min-width: 100%;
}
div#overlay-inner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#overlay-inner form {
  line-height: 36px;
}
div#overlay-inner form em {
  color: #925213;
  font-size: 14px;
  float: left;
  padding-left: 5px;
  position: relative;
  line-height: 1.3em;
}
div#overlay-inner form em.normal {
  font-style: normal;
}
div#overlay-inner form #message {
  color: #d01d1d;
  line-height: 1em;
}
div#overlay-inner form label {
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  line-height: 1.3em;
  padding-right: 5px;
  display: block;
  width: 140px;
  float: left;
  clear: left;
}
div#overlay-inner form select {
  padding: 4px 2px 1px;
}
div#overlay-inner form input[type='text'],
div#overlay-inner form input[type='number'],
div#overlay-inner form textarea,
div#overlay-inner form select {
  color: #434343;
  font-size: 14px;
  border: 1px solid #aaa;
  background-color: #fff;
  float: left;
  padding: 4px 2px 1px;
  position: relative;
  top: -4px;
  margin-bottom: 10px;
  -moz-user-select: text;
  -ms-user-select: text;
}
div#overlay-inner form input[type='number'] {
  -moz-appearance: textfield;
}
div#overlay-inner form input::-webkit-outer-spin-button,
div#overlay-inner form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
div#overlay-inner form input[type='number'].shortnr {
  text-align: right;
  width: 75px;
}
div#overlay-inner form select.alpha,
div#overlay-inner form input[type='number'] {
  color: #7b0d2e;
  font-size: 20px;
  font-weight: bold;
  width: 30px;
  float: left;
}
div#overlay-inner form input[type='submit'] {
  background: #075783;
  font-size: 14px;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #314e64;
  text-align: center;
  display: inline-block;
  padding: 8px 13px;
  background: #4c8e0e;
  color: #fff;
  border: 1px solid #4c8e0e;
  text-align: center;
  display: block;
  margin: 15px auto;
  font-size: 18.2px;
  min-width: 150px;
  margin-bottom: 5px;
}
div#overlay-inner form input[type='submit']:hover,
div#overlay-inner form input[type='submit']:focus {
  background: #2d83be;
  color: #fff;
  border: 1px solid #314e64;
  text-decoration: none;
}
div#overlay-inner form input[type='submit']:hover,
div#overlay-inner form input[type='submit']:focus {
  background: #64ba12;
  color: #fff;
  border: 1px solid #4c8e0e;
}
div#overlay-inner form input[type='reset'] {
  margin-top: 15px;
  float: right;
  background-color: #e44444;
}
div#overlay-inner form .slider {
  background: #fff none;
  border: 1px solid #a6c9e2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 133px;
  height: 5px;
  position: relative;
  top: 5px;
  float: left;
}
div#overlay-inner form .slider .knob {
  background-color: #0078ae;
  border: 1px solid #77d5f7;
  color: #fff;
  font-weight: normal;
  outline: medium none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 10px;
  height: 10px;
  position: relative;
  top: -3px;
  cursor: move;
}
div#overlay-inner form #add-coefficient-autocomplete table,
div#overlay-inner form #edit-coefficient-autocomplete table {
  line-height: 1em;
  clear: left;
  margin-top: 1em;
}
div#overlay-inner form .info {
  background: transparent url("../images/sprite-icons.png") -20px -714px no-repeat;
  display: block;
  float: right;
  position: relative;
  top: -2px;
  width: 24px;
  height: 24px;
}
div#overlay-inner form .tooltip {
  color: #000;
  text-decoration: none;
  outline: none;
  cursor: help;
  position: relative;
}
div#overlay-inner form .tooltip >span {
  font-size: 0.9em;
  line-height: 1.25em;
  margin-left: -999em;
  padding: 0.5em 0.8em 0.8em 2em;
  position: absolute;
}
div#overlay-inner form .tooltip:hover >span {
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  width: 250px;
  margin-left: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
div#overlay-inner form .tooltip:hover span.helpImg,
div#overlay-inner form .tooltip:hover span.warningImg {
  display: block;
  width: 48px;
  height: 48px;
  left: -20px;
  top: -20px;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 100;
}
div#overlay-inner form .tooltip:hover span.helpImg {
  background: url("../images/icon-help-48.png") top left no-repeat transparent;
}
div#overlay-inner form .tooltip:hover span.warningImg {
  background: url("../images/icon-warning-48.png") top left no-repeat transparent;
}
div#overlay-inner form .tooltip:hover em {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  padding-top: 10px;
  padding-bottom: 10px;
}
div#overlay-inner form .tooltip > .help {
  background-color: #d3e6f4;
  border: 1px solid #2bb0d7;
}
div#overlay-inner form .tooltip > .warning {
  background-color: #ffa;
  border: 1px solid #ffad33;
}
div#overlay-inner h2 {
  color: #314e64;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 20px 0;
}
div#overlay-inner > div {
  background-color: #fff;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.6);
  width: 435px;
/*margin 10% auto*/
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 35px 25px;
}
div#overlay-inner > div.bigger {
  position: absolute !important;
  top: 10px !important;
  transform: translate(-50%, 0) !important;
}
div#overlay-inner > div > a {
  color: #126499;
  background: transparent url("../images/sprite-icons.png") -67px -116px no-repeat /*TODO přesun ikony doprava*/;
  padding-left: 20px;
  float: right;
  position: relative;
  top: -20px;
  text-decoration: none;
}
div#overlay-inner > div > a:hover {
  text-decoration: underline;
}
div#overlay-inner #new-task-button {
  background: transparent;
  float: none;
  padding: 0;
  top: 0;
}
div#overlay-inner #rename-task-window {
  width: 500px;
}
div#overlay-inner #rename-task-window input {
  width: 300px;
}
div#overlay-inner #rename-task-window textarea {
  width: 300px;
}
div#overlay-inner #change-ruleset-window,
div#overlay-inner #add-attribute-window,
div#overlay-inner #add-attributes-window,
div#overlay-inner #edit-attribute-window,
div#overlay-inner #new-task-window,
div#overlay-inner #show-histogram-window,
div#overlay-inner #create-user-report-window,
div#overlay-inner #export-business-rules-window,
div#overlay-inner #model-tester-window,
div#overlay-inner #show-br-base-window {
  width: 800px;
/*margin-top 45px*/
}
div#overlay-inner #change-ruleset-window iframe,
div#overlay-inner #add-attribute-window iframe,
div#overlay-inner #add-attributes-window iframe,
div#overlay-inner #edit-attribute-window iframe,
div#overlay-inner #new-task-window iframe,
div#overlay-inner #show-histogram-window iframe,
div#overlay-inner #create-user-report-window iframe,
div#overlay-inner #export-business-rules-window iframe,
div#overlay-inner #model-tester-window iframe,
div#overlay-inner #show-br-base-window iframe {
  border: none;
  width: 800px;
  height: 500px;
}
div#overlay-inner #change-ruleset-window form input[type="submit"],
div#overlay-inner #add-attribute-window form input[type="submit"],
div#overlay-inner #add-attributes-window form input[type="submit"],
div#overlay-inner #edit-attribute-window form input[type="submit"],
div#overlay-inner #new-task-window form input[type="submit"],
div#overlay-inner #show-histogram-window form input[type="submit"],
div#overlay-inner #create-user-report-window form input[type="submit"],
div#overlay-inner #export-business-rules-window form input[type="submit"],
div#overlay-inner #model-tester-window form input[type="submit"],
div#overlay-inner #show-br-base-window form input[type="submit"] {
  margin-left: 310px;
}
div#overlay-inner #add-im-window .help,
div#overlay-inner #edit-im-window .help {
  clear: both;
  display: block;
  margin-bottom: 20px;
  padding-top: 10px;
  color: #666;
  font-size: 12px;
  line-height: 14px;
}
div#overlay-inner #add-im-window label,
div#overlay-inner #edit-im-window label {
  text-align: left;
}
div#overlay-inner #add-im-window select,
div#overlay-inner #edit-im-window select {
  margin-bottom: 0;
}
div#overlay-inner #show-rule-details-window {
  width: 800px;
  padding-bottom: 10px;
}
div#overlay-inner #show-rule-details-window iframe {
  width: 800px;
  height: 380px;
  border: none;
}
div#overlay-inner #add-br-base-window {
  width: 400px;
  margin-top: 45px;
}
div#overlay-inner #add-br-base-window iframe {
  height: 100px;
  width: 400px;
  border: none;
}
div#overlay-inner #loading-data-window,
div#overlay-inner #user-warning-window {
  text-align: center;
  background: #fff url("../images/icon-stop-72.png") center 30px no-repeat;
  padding: 120px 0 20px 0;
}
div#overlay-inner #loading-data-window p,
div#overlay-inner #user-warning-window p {
  margin: 10px 0 20px 0;
}
div#overlay-inner #loading-data-window a,
div#overlay-inner #user-warning-window a {
  background: #075783;
  font-size: 14px;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #314e64;
  text-align: center;
  display: inline-block;
  padding: 8px 13px;
  background: #4c8e0e;
  color: #fff;
  border: 1px solid #4c8e0e;
  text-align: center;
  display: block;
  margin: 15px auto;
  font-size: 18.2px;
  min-width: 150px;
  background: #075783;
  font-size: 14px;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #314e64;
  text-align: center;
  display: inline-block;
  padding: 8px 13px;
  background: #fff;
  color: #075783;
  border: 1px solid #ededed;
  text-align: center;
  display: block;
  width: 100px;
  margin-bottom: 0;
}
div#overlay-inner #loading-data-window a:hover,
div#overlay-inner #user-warning-window a:hover,
div#overlay-inner #loading-data-window a:focus,
div#overlay-inner #user-warning-window a:focus {
  background: #2d83be;
  color: #fff;
  border: 1px solid #314e64;
  text-decoration: none;
}
div#overlay-inner #loading-data-window a:hover,
div#overlay-inner #user-warning-window a:hover,
div#overlay-inner #loading-data-window a:focus,
div#overlay-inner #user-warning-window a:focus {
  background: #64ba12;
  color: #fff;
  border: 1px solid #4c8e0e;
}
div#overlay-inner #loading-data-window a:hover,
div#overlay-inner #user-warning-window a:hover,
div#overlay-inner #loading-data-window a:focus,
div#overlay-inner #user-warning-window a:focus {
  background: #2d83be;
  color: #fff;
  border: 1px solid #314e64;
  text-decoration: none;
}
div#overlay-inner #loading-data-window a:hover,
div#overlay-inner #user-warning-window a:hover,
div#overlay-inner #loading-data-window a:focus,
div#overlay-inner #user-warning-window a:focus {
  background: #fff;
  color: #2d83be;
  border: 1px solid #2d83be;
}
div#overlay-inner #loading-data-window.loading {
  padding-bottom: 40px;
  background: #fff url("../images/icon-loading-bw-72.gif") center 30px no-repeat;
}
div#overlay-inner #change-ruleset-window #add-ruleset {
  background: #075783;
  font-size: 14px;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #314e64;
  text-align: center;
  display: inline-block;
  padding: 8px 13px;
}
div#overlay-inner #change-ruleset-window #add-ruleset:hover,
div#overlay-inner #change-ruleset-window #add-ruleset:focus {
  background: #2d83be;
  color: #fff;
  border: 1px solid #314e64;
  text-decoration: none;
}
div#overlay-inner #change-ruleset-window #add-ruleset-form {
  line-height: 1;
}
div#overlay-inner #change-ruleset-window #add-ruleset-form label {
  width: 200px;
}
div#overlay-inner #change-ruleset-window #add-ruleset-form input[type="text"] {
  width: 300px;
  margin-right: 10px;
}
div#overlay-inner #change-ruleset-window #add-ruleset-form input[type="submit"] {
  margin-left: 10px;
  float: right;
}
div#overlay-inner #change-ruleset-window .bigButtons a span {
  display: block;
  color: #aed0e6;
  font-size: 12px;
}
#settings-form {
  line-height: 2em;
}
#settings-form div {
  clear: left;
}
#settings-form .category {
  color: #925213;
}
#settings-form br.clearfix {
  clear: left;
  margin-top: 1em;
}
#settings-form .info {
  background: transparent url("../images/sprite-icons.png") -20px -714px no-repeat;
  display: block;
  float: right;
  position: relative;
  top: -2px;
  width: 24px;
  height: 24px;
}
#settings-form .tooltip {
  color: #000;
  text-decoration: none;
  outline: none;
  cursor: help;
  position: relative;
}
#settings-form .tooltip >span {
  font-size: 0.9em;
  line-height: 1.25em;
  margin-left: -999em;
  padding: 0.5em 0.8em 0.8em 2em;
  position: absolute;
}
#settings-form .tooltip:hover >span {
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  width: 250px;
  margin-left: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
#settings-form .tooltip:hover span.helpImg,
#settings-form .tooltip:hover span.warningImg {
  display: block;
  width: 48px;
  height: 48px;
  left: -20px;
  top: -20px;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 100;
}
#settings-form .tooltip:hover span.helpImg {
  background: url("../images/icon-help-48.png") top left no-repeat transparent;
}
#settings-form .tooltip:hover span.warningImg {
  background: url("../images/icon-warning-48.png") top left no-repeat transparent;
}
#settings-form .tooltip:hover em {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  padding-top: 10px;
  padding-bottom: 10px;
}
#settings-form .tooltip > .help {
  background-color: #d3e6f4;
  border: 1px solid #2bb0d7;
}
#settings-form .tooltip > .warning {
  background-color: #ffa;
  border: 1px solid #ffad33;
}
#settings-form div > .warning {
  background: transparent url("../images/sprite-icons.png") -16px -361px no-repeat;
  display: block;
  float: left;
  position: relative;
  top: -3px;
  left: 5px;
  width: 24px;
  height: 24px;
}
#settings-form .autocomplete {
  margin-bottom: 90px;
}
#settings-form a.autosuggest-on,
#settings-form a.autofilter-on,
#settings-form a.cache-on,
#settings-form a.debug-on,
#settings-form a.strict-on {
  color: #434343;
  background: transparent url("../images/sprite-icons.png") -70px -8px no-repeat;
  text-decoration: none;
  display: block;
  float: left;
  padding-left: 13px;
  position: relative;
  top: -9px;
}
#settings-form a.autosuggest-off,
#settings-form a.autofilter-off,
#settings-form a.cache-off,
#settings-form a.debug-off,
#settings-form a.strict-off {
  color: #434343;
  background: transparent url("../images/sprite-icons.png") -70px -56px no-repeat;
  text-decoration: none;
  display: block;
  float: left;
  padding-left: 13px;
  position: relative;
  top: -9px;
}
nav {
  color: #434343;
  float: left;
  width: 280px;
  margin: 10px 5px 0 10px;
  line-height: 20px;
}
#attributes {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
#attributes h2 {
  color: #314e64;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 20px 0;
  font-size: 22.400000000000002px;
  margin: 5px 20px 15px 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #314e64;
}
#attributes h2.minimize a {
  background: transparent url("../images/sprite-icons.png") -20px -220px no-repeat;
}
#attributes h2.maximize a {
  background: transparent url("../images/sprite-icons.png") -19px -169px no-repeat;
}
#attributes h2 a {
  display: block;
  width: 12px;
  height: 12px;
  float: right;
  position: relative;
  top: 5px;
  margin-left: 5px /*FIXME*/;
}
#attributes ul#attributes-by-group {
  background: transparent url("../images/icon-group4.png") 0 2px no-repeat;
}
#attributes #attributes-by-group > li {
  padding-left: 20px;
}
#attributes #attributes-by-group span {
  color: #314e64;
  font-size: 14px;
}
#attributes #attributes-by-group span.coefficient {
  color: #925213;
  font-size: 0.85em;
  position: relative;
  top: -1px;
  margin-left: 3px;
}
#attributes a#attributes-by-list,
#attributes a#attributes-by-group {
  font-size: 13px;
}
#attributes li {
  cursor: move;
  float: left;
  clear: left;
  padding: 2px 0;
}
#attributes li.rec1 {
  background: transparent url("../images/sprite-icons.png") -20px -415px no-repeat;
}
#attributes li.rec2 {
  background: transparent url("../images/sprite-icons.png") -20px -463px no-repeat;
}
#attributes li.used {
  color: #aaa;
}
#attributes li .add {
  background: transparent url("../images/sprite-icons.png") -166px -162px no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  visibility: hidden;
}
#attributes li:hover {
  color: #000;
}
#attributes li:hover .add {
  visibility: visible;
}
#attributes a.edit-attribute {
  background: transparent url("../images/sprite-icons.png") -19px -262px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  visibility: hidden;
  margin-left: 10px;
  float: right;
}
#attributes li:hover a.edit-attribute {
  visibility: visible;
}
#attributes a.show-histogram {
  background: transparent url("../images/sprite-icons.png") -20px -664px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  visibility: hidden;
  margin-left: 10px;
  float: right;
}
#attributes li:hover a.show-histogram {
  visibility: visible;
}
#attributes a.remove-attribute {
  background: transparent url("../images/sprite-icons.png") -19px -15px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  visibility: hidden;
  margin-left: 5px;
  float: right;
}
#attributes li:hover a.remove-attribute {
  visibility: visible;
}
#attributes #etree-progress {
  color: #666;
  font-size: 14px;
  background: transparent url("../images/icon-loading-bw-16.gif") 0 3px no-repeat;
  display: block;
  padding-left: 20px;
  margin: 5px 0 5px 20px;
}
#attributes #show-hidden-attributes {
  color: #126499;
  font-size: 14px;
  float: right;
  margin-top: 8px;
}
#attributes #add-all-unused-attributes {
  color: #126499;
  font-size: 14px;
  float: left;
  padding-left: 21px;
  margin-top: 8px;
  display: none;
  background: transparent url("../images/sprite-icons.png") -166px -162px no-repeat;
}
#data-fields {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
#data-fields h2 {
  color: #314e64;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 20px 0;
  font-size: 22.400000000000002px;
  margin: 5px 20px 15px 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #314e64;
}
#data-fields h2.minimize a {
  background: transparent url("../images/sprite-icons.png") -20px -220px no-repeat;
}
#data-fields h2.maximize a {
  background: transparent url("../images/sprite-icons.png") -19px -169px no-repeat;
}
#data-fields h2 a {
  display: block;
  width: 12px;
  height: 12px;
  float: right;
  position: relative;
  top: 5px;
  margin-left: 5px /*FIXME*/;
}
#data-fields ul {
  margin-bottom: 10px;
}
#data-fields li {
  cursor: move;
  float: left;
  clear: left;
  padding: 2px 0;
}
#data-fields li .add {
  background: transparent url("../images/sprite-icons.png") -166px -162px no-repeat;
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  visibility: hidden;
}
#data-fields li .show-histogram {
  background: transparent url("../images/sprite-icons.png") -20px -664px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  visibility: hidden;
  margin-left: 10px;
  float: right;
}
#data-fields li:hover {
  color: #000;
}
#data-fields li:hover .add {
  visibility: visible;
}
#data-fields li:hover .show-histogram {
  visibility: visible;
}
#data-fields .data-fields-checkbox-controls {
  clear: both;
  display: none;
  overflow: hidden;
}
#data-fields .data-fields-checkbox-controls #add-selected-data-fields {
  color: #126499;
  font-size: 14px;
  float: left;
  padding-left: 21px;
  margin-top: 8px;
  background: transparent url("../images/sprite-icons.png") -166px -162px no-repeat;
}
#data-fields .data-fields-checkbox-controls .all {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  float: left;
  margin-right: 2px;
  margin-top: 4px;
  background: transparent url("../images/icon-select-all.png") center center no-repeat;
}
#data-fields .data-fields-checkbox-controls .none {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  float: left;
  margin-right: 2px;
  margin-top: 4px;
  background: transparent url("../images/icon-select-none.png") center center no-repeat;
}
#data-fields .data-fields-checkbox-controls .invert {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  float: left;
  margin-right: 2px;
  margin-top: 4px;
  background: transparent url("../images/icon-select-invert.png") center center no-repeat;
}
#data-fields input[type='checkbox'] {
  display: none;
  float: left;
  width: 20px;
  margin-top: 4px;
}
#data-fields.show-checkboxes input[type='checkbox'] {
  display: block;
}
#data-fields.show-checkboxes .add {
  display: none;
}
#data-fields:not(.show-checkboxes) .data-fields-checkbox-controls {
  display: none !important;
}
#knowledge-base-select {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
#knowledge-base-select h2 {
  color: #314e64;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 20px 0;
  font-size: 22.400000000000002px;
  margin: 5px 20px 15px 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #314e64;
}
#knowledge-base-select .clearfix {
  padding: 0 20px;
  line-height: 1.8;
}
#knowledge-base-select .clearfix select {
  width: 100%;
}
#knowledge-base-select .clearfix #change-ruleset {
  color: #126499;
  font-size: 14px;
  float: right;
}
#navigation h2.maximize .filter,
#navigation h2.maximize .selectable {
  display: none;
}
#attributes .datas-filter,
#data-fields .datas-filter {
  display: none;
  margin: 5px 20px;
}
#attributes input[type='text'],
#data-fields input[type='text'] {
  width: 180px;
  padding: 2px 3px;
  background: none;
  border: 1px solid #aaa /*TODO nahradit parametry!*/;
  -moz-user-select: text;
  -ms-user-select: text;
}
#attributes a.reset-filter,
#data-fields a.reset-filter {
  float: right;
  background: transparent url("../images/sprite-icons.png") -19px -15px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  margin: 2px 0 0 5px;
}
#attributes .filter,
#data-fields .filter {
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  top: 3px !important;
  background: transparent url("../images/icon-filter.png") no-repeat 0 0 !important;
}
#attributes .selectable,
#data-fields .selectable {
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  top: 3px !important;
  background: transparent url("../images/icon-checkboxes.png") no-repeat 0 0 !important;
}
#attributes .filter-active,
#data-fields .filter-active {
  background-position: 0 -20px !important;
}
section#active-rule {
  position: relative;
}
section#active-rule #antecedent,
section#active-rule #interest-measures,
section#active-rule #succedent {
  float: left;
  height: 300px;
  padding-bottom: 70px;
  overflow: auto;
}
section#active-rule #antecedent .cedent {
  float: left;
  border: 1px dashed #fff;
/*border-radius(10px)*/
  background-color: #fff;
  padding: 2px;
}
section#active-rule #antecedent .cedent.empty {
  border: 1px dashed #000;
  color: #808080;
}
section#active-rule #antecedent .cedent a.group-fields {
  background: transparent url("../images/sprite-icons.png") -168px -215px no-repeat;
  padding-left: 17px;
  float: right;
}
section#active-rule #antecedent .cedent .fields .field {
  float: left;
  height: 40px;
  margin: 0 2px;
}
section#active-rule #antecedent .cedent .fields .field .coefficient {
  color: #925213;
  font-size: 0.85em;
  position: relative;
  top: -1px;
  margin-left: 3px;
}
section#active-rule #antecedent .cedent .fields .field .field-drag {
  cursor: move;
}
section#active-rule #antecedent .cedent .fields .field .change-sign.negative,
section#active-rule #antecedent .cedent .fields .field .field-sign.negative {
  background: transparent url("../images/sprite-icons.png") -118px -161px no-repeat;
  width: 13px;
  height: 20px;
  float: left;
}
section#active-rule #antecedent .cedent .fields .field .controls a.edit-coefficient {
  background: transparent url("../images/sprite-icons.png") -19px -262px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  visibility: hidden;
  margin-left: 2px;
  float: right;
}
section#active-rule #antecedent .cedent .fields .field .controls a.remove-field {
  background: transparent url("../images/sprite-icons.png") -19px -15px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  visibility: hidden;
  margin-left: 5px;
  float: right;
}
section#active-rule #antecedent .cedent .fields .field .controls a.mark-field {
  background: transparent url("../images/sprite-icons.png") -67px -212px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  margin-right: 3px;
  float: right;
  visibility: hidden;
}
section#active-rule #antecedent .cedent .fields .field .controls a.marked-field {
  background: transparent url("../images/sprite-icons.png") -68px -260px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  margin-right: 3px;
  float: right;
  visibility: visible;
}
section#active-rule #antecedent .cedent .fields .field .controls a.change-sign.positive {
  background: transparent url("../images/sprite-icons.png") -118px -161px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  float: right;
  visibility: hidden;
}
section#active-rule #antecedent .cedent .fields .field:hover a.remove-field {
  visibility: visible;
}
section#active-rule #antecedent .cedent .fields .field:hover a.edit-coefficient {
  visibility: visible;
}
section#active-rule #antecedent .cedent .fields .field:hover a.mark-field {
  visibility: visible;
}
section#active-rule #antecedent .cedent .fields .field:hover a.change-sign.positive {
  visibility: visible;
}
section#active-rule #antecedent .cedent .fields .connective {
  color: #360;
  font-size: 14px;
  position: relative;
  top: 1px;
  margin: 0 1px;
  float: left;
}
section#active-rule #antecedent .cedent .fields .left-bracket,
section#active-rule #antecedent .cedent .fields .right-bracket {
  font-size: 18px;
  float: left;
  position: relative;
  top: -2px;
}
section#active-rule #antecedent .cedent .group-fields {
  font-size: 14px;
  position: relative;
  top: 23px;
}
section#active-rule #antecedent >.cedent >.fields >.field,
section#active-rule #antecedent >.cedent >.fields >.connective {
  margin-top: 3px;
}
section#active-rule #interest-measures {
  margin-left: 20px;
  width: 200px;
}
section#active-rule #interest-measures #add-im {
  font-size: 14px;
  background: transparent url("../images/sprite-icons.png") -167px -162px no-repeat;
  margin: 0 0 0 10px;
  padding-left: 20px;
  float: left;
}
section#active-rule #interest-measures .im {
  float: left;
  clear: left;
  margin-bottom: 7px;
}
section#active-rule #interest-measures .im .name {
  font-size: 14px;
  width: 160px;
  float: left;
}
section#active-rule #interest-measures .im .threshold,
section#active-rule #interest-measures .im .alpha {
  color: #7b0d2e;
}
section#active-rule #interest-measures .im .edit-im {
  background: transparent url("../images/sprite-icons.png") -19px -262px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  visibility: hidden;
  margin-right: 5px;
  float: left;
}
section#active-rule #interest-measures .im:hover .edit-im {
  visibility: visible;
}
section#active-rule #interest-measures .im .remove-im {
  background: transparent url("../images/sprite-icons.png") -19px -15px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  visibility: hidden;
  float: left;
}
section#active-rule #interest-measures .im .remove-im.required {
  visibility: hidden;
}
section#active-rule #interest-measures .im:hover .remove-im {
  visibility: visible;
}
section#active-rule #interest-measures .im:hover .remove-im.required {
  visibility: hidden;
}
section#active-rule #succedent {
  margin-left: 20px;
}
section#active-rule #succedent .cedent {
  float: left;
  border: 1px dashed #fff;
/*border-radius(10px)*/
  background-color: #fff;
  padding: 2px;
}
section#active-rule #succedent .cedent.empty {
  border: 1px dashed #000;
  color: #808080;
}
section#active-rule #succedent .cedent a.group-fields {
  background: transparent url("../images/sprite-icons.png") -168px -215px no-repeat;
  padding-left: 17px;
  float: right;
}
section#active-rule #succedent .cedent .fields .field {
  float: left;
  height: 40px;
  margin: 0 2px;
}
section#active-rule #succedent .cedent .fields .field .coefficient {
  color: #925213;
  font-size: 0.85em;
  position: relative;
  top: -1px;
  margin-left: 3px;
}
section#active-rule #succedent .cedent .fields .field .field-drag {
  cursor: move;
}
section#active-rule #succedent .cedent .fields .field .change-sign.negative,
section#active-rule #succedent .cedent .fields .field .field-sign.negative {
  background: transparent url("../images/sprite-icons.png") -118px -161px no-repeat;
  width: 13px;
  height: 20px;
  float: left;
}
section#active-rule #succedent .cedent .fields .field .controls a.edit-coefficient {
  background: transparent url("../images/sprite-icons.png") -19px -262px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  visibility: hidden;
  margin-left: 2px;
  float: right;
}
section#active-rule #succedent .cedent .fields .field .controls a.remove-field {
  background: transparent url("../images/sprite-icons.png") -19px -15px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  visibility: hidden;
  margin-left: 5px;
  float: right;
}
section#active-rule #succedent .cedent .fields .field .controls a.mark-field {
  background: transparent url("../images/sprite-icons.png") -67px -212px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  margin-right: 3px;
  float: right;
  visibility: hidden;
}
section#active-rule #succedent .cedent .fields .field .controls a.marked-field {
  background: transparent url("../images/sprite-icons.png") -68px -260px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  margin-right: 3px;
  float: right;
  visibility: visible;
}
section#active-rule #succedent .cedent .fields .field .controls a.change-sign.positive {
  background: transparent url("../images/sprite-icons.png") -118px -161px no-repeat;
  display: block;
  width: 16px;
  height: 20px;
  float: right;
  visibility: hidden;
}
section#active-rule #succedent .cedent .fields .field:hover a.remove-field {
  visibility: visible;
}
section#active-rule #succedent .cedent .fields .field:hover a.edit-coefficient {
  visibility: visible;
}
section#active-rule #succedent .cedent .fields .field:hover a.mark-field {
  visibility: visible;
}
section#active-rule #succedent .cedent .fields .field:hover a.change-sign.positive {
  visibility: visible;
}
section#active-rule #succedent .cedent .fields .connective {
  color: #360;
  font-size: 14px;
  position: relative;
  top: 1px;
  margin: 0 1px;
  float: left;
}
section#active-rule #succedent .cedent .fields .left-bracket,
section#active-rule #succedent .cedent .fields .right-bracket {
  font-size: 18px;
  float: left;
  position: relative;
  top: -2px;
}
section#active-rule #succedent .cedent .group-fields {
  font-size: 14px;
  position: relative;
  top: 23px;
}
section#active-rule #succedent >.cedent >.fields >.field,
section#active-rule #succedent >.cedent >.fields >.connective {
  margin-top: 3px;
}
section#active-rule .no-restriction {
  background: transparent url("../images/sprite-icons.png") -20px -714px no-repeat;
  padding: 1px 0 0 17px;
  margin-top: 2px;
  float: left;
  clear: left;
  cursor: help;
}
section#active-rule #ar-action-box {
  position: relative;
  clear: both;
  overflow: auto;
}
section#active-rule #ar-action-box > div {
  padding: 20px 0 20px 55px;
}
section#active-rule #ar-action-box > div.in_progress {
  background: #fff url("../images/icon-loading-bw-48.gif") left center no-repeat;
}
section#active-rule #ar-action-box > div.question {
  background: #fff url("../images/icon-help-48.png") left center no-repeat;
}
section#active-rule #ar-action-box > div.solved {
  background: #fff url("../images/icon-ok-48.png") left center no-repeat;
}
section#active-rule #ar-action-box > div.interrupted {
  background: #fff url("../images/icon-stop-48.png") left center no-repeat;
}
section#active-rule #ar-action-box > div.failed {
  background: #fff url("../images/icon-warning-48.png") left center no-repeat;
}
section#active-rule #ar-action-box > div.info {
  background: #fff url("../images/icon-info-48.png") left center no-repeat;
}
section#active-rule #ar-action-box #stop-mining {
  background: #075783;
  font-size: 14px;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #314e64;
  text-align: center;
  display: inline-block;
  padding: 8px 13px;
  background: #4c8e0e;
  color: #fff;
  border: 1px solid #4c8e0e;
  text-align: center;
  display: block;
  margin: 15px auto;
  font-size: 18.2px;
  min-width: 150px;
  float: right;
  margin: 5px 0 5px 10px;
  border-color: #800000;
  background: #800000;
}
section#active-rule #ar-action-box #stop-mining:hover,
section#active-rule #ar-action-box #stop-mining:focus {
  background: #2d83be;
  color: #fff;
  border: 1px solid #314e64;
  text-decoration: none;
}
section#active-rule #ar-action-box #stop-mining:hover,
section#active-rule #ar-action-box #stop-mining:focus {
  background: #64ba12;
  color: #fff;
  border: 1px solid #4c8e0e;
}
section#active-rule #ar-action-box #stop-mining:hover,
section#active-rule #ar-action-box #stop-mining:focus {
  border-color: #800000;
  background: #d50000;
}
section#active-rule #ar-action-box #start-mining {
  background: #075783;
  font-size: 14px;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #314e64;
  text-align: center;
  display: inline-block;
  padding: 8px 13px;
  background: #4c8e0e;
  color: #fff;
  border: 1px solid #4c8e0e;
  text-align: center;
  display: block;
  margin: 15px auto;
  font-size: 18.2px;
  min-width: 150px;
  margin: 5px 0 5px 10px;
  float: right;
}
section#active-rule #ar-action-box #start-mining:hover,
section#active-rule #ar-action-box #start-mining:focus {
  background: #2d83be;
  color: #fff;
  border: 1px solid #314e64;
  text-decoration: none;
}
section#active-rule #ar-action-box #start-mining:hover,
section#active-rule #ar-action-box #start-mining:focus {
  background: #64ba12;
  color: #fff;
  border: 1px solid #4c8e0e;
}
section#active-rule #ar-action-box #start-mining-with-pruning-label {
  float: right;
  clear: right;
  margin: 5px 0 0 0;
  padding: 0 15px;
  width: 150px;
  text-align: center;
}
section#active-rule #ar-action-box #start-mining-with-pruning-label label {
  padding-left: 5px;
  cursor: pointer;
}
section#active-rule #ar-action-box #start-mining-with-pruning-label input[type=checkbox][disabled] + label {
  color: #dfdfdf;
  cursor: default;
}
.paginator a {
  background: #075783;
  font-size: 14px;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #314e64;
  text-align: center;
  display: inline-block;
  padding: 8px 13px;
  background: #fff;
  color: #075783;
  border: 1px solid #ededed;
  text-align: center;
  display: inline-block;
  padding: 3px 6px;
  min-width: 16px;
  margin: 0 1px;
}
.paginator a:hover,
.paginator a:focus {
  background: #2d83be;
  color: #fff;
  border: 1px solid #314e64;
  text-decoration: none;
}
.paginator a:hover,
.paginator a:focus {
  background: #fff;
  color: #2d83be;
  border: 1px solid #2d83be;
}
.paginator a.active {
  background: #2d83be;
  color: #fff;
  border: 1px solid #2d83be;
}
.paginator a.disabled {
  cursor: no-drop;
  border: 1px solid #ededed;
  color: #ededed;
}
.paginator .loading {
  background: transparent url("../images/icon-loading-bw-20.gif") left center no-repeat;
  padding: 3px 0 3px 25px;
  margin-left: 10px;
  display: none;
}
.paginator.loading .loading {
  display: inline-block;
}
#found-rules {
  clear: left;
  padding-top: 20px;
  position: relative;
}
#found-rules #found-rules-task-name {
  color: #314e64;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 20px 0;
  font-size: 22.400000000000002px;
  margin: 10px 0;
  max-width: 800px !important /*TODO*/;
}
#found-rules #found-rules-task-name .count {
  color: #888;
  margin-left: 15px;
  font-size: 16px;
}
#found-rules #found-rules-task-name .count strong {
  font-weight: normal;
  color: #888;
}
#found-rules #found-rules-task-name a.rename-task {
  margin-left: 10px;
  width: 20px;
  height: 25px;
  position: relative;
  top: 5px;
  display: inline-block;
  background: transparent url("../images/sprite/icon-edit.png") center bottom no-repeat;
  visibility: hidden;
}
#found-rules #found-rules-task-name:hover a.rename-task {
  visibility: visible;
}
#found-rules p.error {
  color: #d01d1d;
  margin: 10px 0;
}
#found-rules .found-rules-controls {
  position: relative;
  overflow: auto;
  text-align: right;
  color: #888;
  font-size: 12.8px;
}
#found-rules .found-rules-controls .paginator {
  float: left;
}
#found-rules .found-rules-controls label {
  display: inline-block;
  padding: 0 5px 0 15px;
  margin: 0;
}
#found-rules .found-rules-controls select {
  padding: 5px;
}
#found-rules ul {
  padding-left: 0;
}
#found-rules ul li {
  margin: 0 0 5px 0;
  padding: 0 0 5px 20px;
  list-style: none;
  cursor: default;
  position: relative;
  border-bottom: 1px solid #ededed;
}
#found-rules ul li input.found-rule-checkbox {
  position: absolute;
  left: 0;
  top: 8px;
}
#found-rules ul li .rule {
  color: #434343;
  cursor: default;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
}
#found-rules ul li .loading {
  display: none;
}
#found-rules ul li .ruleActions {
  display: inline-block;
  overflow: auto;
  position: relative;
  width: 100px;
  height: 20px;
  margin-left: 15px;
  background: transparent;
  top: 5px;
}
#found-rules ul li .ruleActions > a {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  visibility: hidden;
}
#found-rules ul li .ruleActions a.bk {
  background: transparent url("../images/sprite-icons.png") -19px -119px no-repeat;
}
#found-rules ul li .ruleActions a.mark {
  background: transparent url("../images/icon-ok-20.png") left center no-repeat;
}
#found-rules ul li .ruleActions a.unmark {
  background: transparent url("../images/icon-ok-20.png") left center no-repeat;
}
#found-rules ul li .ruleActions a.unmark:hover {
  background: transparent url("../images/icon-stop-20.png") left center no-repeat;
}
#found-rules ul li .ruleActions a.kbAddPositive {
  background: transparent url("../images/icon-thumb-up-20.png") left center no-repeat;
}
#found-rules ul li .ruleActions a.kbAddPositive:hover {
  background: transparent url("../images/icon-thumb-up-20-active.png") left center no-repeat;
}
#found-rules ul li .ruleActions a.kbRemovePositive {
  background: transparent url("../images/icon-thumb-up-20-active.png") left center no-repeat;
}
#found-rules ul li .ruleActions a.kbRemovePositive:hover {
  background: transparent url("../images/icon-thumb-up-20-remove.png") left center no-repeat;
}
#found-rules ul li .ruleActions a.kbAddNegative {
  background: transparent url("../images/icon-thumb-down-20.png") left center no-repeat;
}
#found-rules ul li .ruleActions a.kbAddNegative:hover {
  background: transparent url("../images/icon-thumb-down-20-active.png") left center no-repeat;
}
#found-rules ul li .ruleActions a.kbRemoveNegative {
  background: transparent url("../images/icon-thumb-down-20-active.png") left center no-repeat;
}
#found-rules ul li .ruleActions a.kbRemoveNegative:hover {
  background: transparent url("../images/icon-thumb-down-20-remove.png") left center no-repeat;
}
#found-rules ul li .ruleActions a.details {
  background: transparent url("../images/icon-info-20.png") left center no-repeat;
}
#found-rules ul li .ims {
  display: block;
  font-size: 12.8px;
  color: #888;
}
#found-rules ul li .ims * {
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
}
#found-rules ul li .ims >span {
  border-right: 1px solid #ededed;
  padding-right: 5px;
  margin-right: 5px;
}
#found-rules ul li .ims >span:last-child {
  border-right: none;
}
#found-rules ul li .ims >span .value {
  color: #7b0d2e;
}
#found-rules ul li.selected .rule {
  color: #4c8e0e;
}
#found-rules ul li.selected .ruleActions a.mark,
#found-rules ul li.selected .ruleActions a.unmark {
  visibility: visible;
}
#found-rules ul li.KBpositive .ruleActions a.kbRemovePositive {
  visibility: visible;
}
#found-rules ul li.KBnegative .ruleActions a.kbRemoveNegative {
  visibility: visible;
}
#found-rules ul li.loading .ruleActions {
  background: transparent url("../images/icon-loading-bw-20.gif") left center no-repeat;
}
#found-rules ul li.loading .ruleActions >a {
  visibility: hidden !important;
}
#found-rules ul li:hover .ruleActions >a {
  visibility: visible;
}
#found-rules #found-rules-multi-controls {
  min-height: 10px;
  position: relative;
}
#found-rules #found-rules-multi-controls .all {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  background: transparent url("../images/icon-select-all.png") center center no-repeat;
}
#found-rules #found-rules-multi-controls .none {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  background: transparent url("../images/icon-select-none.png") center center no-repeat;
}
#found-rules #found-rules-multi-controls .invert {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  background: transparent url("../images/icon-select-invert.png") center center no-repeat;
}
#found-rules #found-rules-multi-controls .actions {
  margin-left: 10px;
}
#found-rules #found-rules-multi-controls .actions >a {
  padding-left: 24px;
  height: 20px;
  padding-top: 2px;
  margin: 0 5px;
  font-size: 14px;
  display: inline-block;
  display: none;
}
#found-rules #found-rules-multi-controls .actions >a.mark {
  background: transparent url("../images/icon-ok-20.png") left center no-repeat;
}
#found-rules #found-rules-multi-controls .actions >a.unmark {
  background: transparent url("../images/icon-stop-20.png") left center no-repeat;
}
#found-rules #found-rules-multi-controls .actions >a.kbAddPositive {
  background: transparent url("../images/icon-thumb-up-20.png") left center no-repeat;
}
#found-rules #found-rules-multi-controls .actions >a.kbAddPositive:hover {
  background: transparent url("../images/icon-thumb-up-20-active.png") left center no-repeat;
}
#found-rules #found-rules-multi-controls .actions >a.kbAddNegative {
  background: transparent url("../images/icon-thumb-down-20.png") left center no-repeat;
}
#found-rules #found-rules-multi-controls .actions >a.kbAddNegative:hover {
  background: transparent url("../images/icon-thumb-down-20-active.png") left center no-repeat;
}
#found-rules #found-rules-multi-controls .actions >a.visible {
  display: inline-block;
}
#found-rules #found-rules-multi-controls .task-actions {
  float: right;
  margin-top: 3px;
}
#found-rules #found-rules-multi-controls .task-actions >a {
  padding-left: 24px;
  height: 20px;
  padding-top: 2px;
  margin: 0 5px;
  font-size: 14px;
  display: inline-block;
}
#found-rules #found-rules-multi-controls .task-actions >a.mark-all {
  background: transparent url("../images/icon-ok-20.png") left center no-repeat;
}
#found-rules #found-rules-multi-controls .task-actions >a.task-details {
  background: transparent url("../images/icon-goreport-20.png") left center no-repeat;
}
#found-rules #found-rules-multi-controls .task-actions >a.task-export {
  background: transparent url("../images/icon-export-20.png") left center no-repeat;
}
#marked-rules-tabs {
  margin: 10px 0 0 10px;
  float: left;
  clear: left;
  padding: 0;
  width: 1025px;
}
#marked-rules-tabs .marked-rules-tab {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  color: #925213;
  font: 36px 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  border-bottom: none;
  width: 510px;
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255,0.6);
}
#marked-rules-tabs .marked-rules-tab.marked-rules-tasks {
  float: left;
}
#marked-rules-tabs .marked-rules-tab.marked-rules-base {
  float: right;
}
#marked-rules-tabs .marked-rules-tab.marked-rules-tab-active {
  background-color: #fff;
  border-bottom: #fff 5px solid;
}
#marked-rules-tabs .marked-rules-tab:hover {
  background-color: #fff;
}
#marked-rules-tabs .marked-rules-tab a {
  padding: 20px 15px;
  cursor: pointer;
  display: block;
  color: #925213 !important;
  text-decoration: none !important;
}
#marked-rules {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.4);
  min-width: 985px;
  margin: 0 0 0 10px;
  float: left;
  clear: left;
}
#marked-rules h2 {
  color: #925213;
  font: 36px 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  border-bottom: none;
/*margin-left 10px*/
  margin: 0 0 5px 0;
}
#marked-rules .maximize ul,
#marked-rules .maximize .marked-rules-checkbox-controls,
#marked-rules .maximize .marked-rules-controls {
  display: none;
}
#marked-rules .maximize a.toggle span {
  background: transparent url("../images/sprite-icons.png") -19px -169px no-repeat;
}
#marked-rules .minimize a.toggle span {
  background: transparent url("../images/sprite-icons.png") -20px -220px no-repeat;
}
#marked-rules .marked-rules-base-content {
  display: none;
}
#marked-rules .marked-rules-empty {
  display: none;
}
#marked-rules .empty .marked-rules-empty {
  display: block;
}
#marked-rules .marked-rules-task-name {
  color: #314e64;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 20px 0;
  font-size: 22.400000000000002px;
  margin: 10px 0;
  position: relative;
  padding-left: 20px;
}
#marked-rules .marked-rules-task-name .count {
  color: #888;
  margin-left: 15px;
  font-size: 16px;
}
#marked-rules .marked-rules-task-name .count strong {
  font-weight: normal;
  color: #888;
}
#marked-rules .marked-rules-task-name a.rename-task {
  margin-left: 10px;
  width: 20px;
  height: 25px;
  position: relative;
  top: 5px;
  display: inline-block;
  background: transparent url("../images/sprite/icon-edit.png") center bottom no-repeat;
  visibility: hidden;
}
#marked-rules .marked-rules-task-name a.remove-task {
  margin-left: 10px;
  width: 20px;
  height: 25px;
  position: relative;
  top: 5px;
  display: inline-block;
  background: transparent url("../images/icon-stop-20.png") center bottom no-repeat;
  visibility: hidden;
}
#marked-rules .marked-rules-task-name a.toggle span.toggle {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 10px;
}
#marked-rules .marked-rules-task-name:hover a.rename-task,
#marked-rules .marked-rules-task-name:hover a.remove-task {
  visibility: visible;
}
#marked-rules .clearfix {
  clear: both;
}
#marked-rules p.error {
  color: #d01d1d;
  margin: 10px 0;
}
#marked-rules .marked-rules-controls {
  position: relative;
  overflow: auto;
  text-align: right;
  color: #888;
  font-size: 12.8px;
}
#marked-rules .marked-rules-controls .paginator {
  float: left;
}
#marked-rules .marked-rules-controls label {
  display: inline-block;
  padding: 0 5px 0 15px;
  margin: 0;
}
#marked-rules .marked-rules-controls select {
  padding: 5px;
}
#marked-rules ul {
  padding-left: 0;
}
#marked-rules ul li {
  margin: 0 0 5px 0;
  padding: 0 0 5px 20px;
  list-style: none;
  cursor: default;
  position: relative;
  border-bottom: 1px solid #ededed;
}
#marked-rules ul li input.marked-rule-checkbox {
  position: absolute;
  left: 0;
  top: 8px;
}
#marked-rules ul li .rule {
  color: #434343;
  cursor: default;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
}
#marked-rules ul li .loading {
  display: none;
}
#marked-rules ul li .ruleActions {
  display: inline-block;
  overflow: auto;
  position: relative;
  width: 100px;
  height: 20px;
  margin-left: 15px;
  background: transparent;
  top: 5px;
}
#marked-rules ul li .ruleActions > a {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  visibility: hidden;
}
#marked-rules ul li .ruleActions a.bk {
  background: transparent url("../images/sprite-icons.png") -19px -119px no-repeat;
}
#marked-rules ul li .ruleActions a.clear {
  background: transparent url("../images/icon-stop-20.png") left center no-repeat;
}
#marked-rules ul li .ruleActions a.details {
  background: transparent url("../images/icon-info-20.png") left center no-repeat;
}
#marked-rules ul li .ruleActions a.kb-add[rel=positive] {
  background: transparent url("../images/icon-thumb-up-20.png") left center no-repeat;
}
#marked-rules ul li .ruleActions a.kb-add[rel=positive]:hover {
  background: transparent url("../images/icon-thumb-up-20-active.png") left center no-repeat;
}
#marked-rules ul li .ruleActions a.kb-add[rel=negative] {
  background: transparent url("../images/icon-thumb-down-20.png") left center no-repeat;
}
#marked-rules ul li .ruleActions a.kb-add[rel=negative]:hover {
  background: transparent url("../images/icon-thumb-down-20-active.png") left center no-repeat;
}
#marked-rules ul li .ims {
  display: block;
  font-size: 12.8px;
  color: #888;
}
#marked-rules ul li .ims * {
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
}
#marked-rules ul li .ims >span {
  border-right: 1px solid #ededed;
  padding-right: 5px;
  margin-right: 5px;
}
#marked-rules ul li .ims >span:last-child {
  border-right: none;
}
#marked-rules ul li .ims >span .value {
  color: #7b0d2e;
}
#marked-rules ul li.loading .ruleActions {
  background: transparent url("../images/icon-loading-bw-20.gif") left center no-repeat;
}
#marked-rules ul li.loading .ruleActions >a {
  visibility: hidden !important;
}
#marked-rules ul li:hover .ruleActions >a {
  visibility: visible;
}
#marked-rules .marked-rules-multi-controls {
  min-height: 25px;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 2px solid #126499;
}
#marked-rules .marked-rules-multi-controls .all {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  background: transparent url("../images/icon-select-all.png") center center no-repeat;
}
#marked-rules .marked-rules-multi-controls .none {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  background: transparent url("../images/icon-select-none.png") center center no-repeat;
}
#marked-rules .marked-rules-multi-controls .invert {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  background: transparent url("../images/icon-select-invert.png") center center no-repeat;
}
#marked-rules .marked-rules-multi-controls .marked-rules-checkbox-controls {
  float: left;
}
#marked-rules .marked-rules-multi-controls .actions {
  margin-left: 10px;
}
#marked-rules .marked-rules-multi-controls .actions >a {
  padding-left: 24px;
  height: 20px;
  padding-top: 2px;
  margin: 0 5px;
  font-size: 14px;
  display: inline-block;
  display: none;
}
#marked-rules .marked-rules-multi-controls .actions >a.mark {
  background: transparent url("../images/icon-ok-20.png") left center no-repeat;
}
#marked-rules .marked-rules-multi-controls .actions >a.unmark,
#marked-rules .marked-rules-multi-controls .actions >a.kb-unmark {
  background: transparent url("../images/icon-stop-20.png") left center no-repeat;
}
#marked-rules .marked-rules-multi-controls .actions >a.kb-add[rel=positive] {
  background: transparent url("../images/icon-thumb-up-20.png") left center no-repeat;
}
#marked-rules .marked-rules-multi-controls .actions >a.kb-add[rel=negative] {
  background: transparent url("../images/icon-thumb-down-20.png") left center no-repeat;
}
#marked-rules .marked-rules-multi-controls .actions >a.visible {
  display: inline-block;
}
#marked-rules .marked-rules-multi-controls .task-actions {
  float: right;
  margin-top: 3px;
}
#marked-rules .marked-rules-multi-controls .task-actions >a {
  padding-left: 24px;
  height: 20px;
  padding-top: 2px;
  margin: 0 5px;
  font-size: 14px;
  display: inline-block;
}
#marked-rules .marked-rules-multi-controls .task-actions >a.mark-all {
  background: transparent url("../images/icon-ok-20.png") left center no-repeat;
}
#marked-rules .marked-rules-multi-controls .task-actions >a.task-details {
  background: transparent url("../images/icon-goreport-20.png") left center no-repeat;
}
#marked-rules .marked-rules-multi-controls .task-actions >a.task-export {
  background: transparent url("../images/icon-export-20.png") left center no-repeat;
}
#createUserReport {
  float: right;
  margin: 20px 20px 0 0;
}
* {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#wrapper {
  min-height: 500px;
  min-width: 1335px;
  width: 1335px;
  margin: 0 auto;
  position: relative;
}
section#workplace {
  margin: 0 auto;
  padding-bottom: 10px;
  float: left;
}
section#content {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  min-width: 985px;
  float: left;
  margin: 10px 0 0 10px;
}
section#content h2 {
  color: #925213;
  font: 36px 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  border-bottom: none;
  margin: 0;
}
section#content h3 {
  color: #314e64;
  font: 16px;
  border-bottom: 1px solid #314e64;
  line-height: 20px;
  margin-bottom: 10px;
}
