@CHARSET "UTF-8";

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Average&subset=latin-ext);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

/* reset styles */
@IMPORT url("reset.css");

/* body */

body {
	background: #EDEDED url('../images/bg-header.png') repeat-x 50% 0;
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
	overflow-y: scroll;
}

li {
	list-style-type: none;
}

.clearfix {
	clear: both;
}

a {
	color: #126499;
}

input[type='text'].shortnr {
    text-align: right;
 	padding: 0 2px;
    width: 30px;
}

/* overlay */
section#overlay {
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    color: #434343;
    font-family: 'Helvetica Nue', 'Arial', sans-serif;
	background: none rgba(0, 0, 0, 0.6);
    visibility: hidden;
    z-index: 1;
}

section#overlay > div {
	background-color: #FFF;
	border-radius: 15px;
	border: 2px solid #AAA;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
	
	margin: 10% auto; padding: 35px 25px;
}

#add-coefficient-window,
#edit-coefficient-window,
#add-im-window,
#edit-im-window,
#edit-connective-window,
#settings-window {
	width: 380px;
}

section#overlay h2 {
    color: #314E64;
    font-family: 'Average',serif;
    font-size: 36px;
    border-bottom: 1px solid #314E64;
    
    margin-bottom: 20px;
}

#overlay form {
	line-height: 36px;
}

#overlay label {
	font-weight: bold;
	font-size: 14px;
	
	display: block; min-width: 130px;
	float: left; clear: left;
}

#overlay input[type='text'],
#overlay select {
	border: 1px solid #AAA;
	color: #434343;	
}

#overlay input[type='submit'] {
    background: #4C8E0E none;
    border: 1px solid #AAA;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 30px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    
    display: block;  width: 170px;	
    margin-left: 100px; margin-top: 50px; padding: 10px 28px;
    cursor: pointer;
}

input[type='text']#add-coefficient-minlength,
input[type='text']#add-coefficient-maxlength,
input[type='text']#edit-coefficient-minlength,
input[type='text']#edit-coefficient-maxlength,
input[type='text'].add-im-value	 {
	color: #7B0D2E;	
	border: none;
	font-weight: bold;
	
	width: 40px;
}

#add-coefficient-autocomplete table,
#edit-coefficient-autocomplete table {
	line-height: 1em;
	clear: left;
	margin-top: 1em;
}

#add-coefficient-autocomplete table label,
#edit-coefficient-autocomplete table label {
	float: none;
}

#add-coefficient-close,
#edit-coefficient-close,
#add-im-close,
#edit-im-close,
#settings-close,
#edit-connective-close {
	background: transparent url('../images/icon-close.png') 0 0 no-repeat;
	padding-left: 20px;
	color: #126499;
	
	float: right;
	position: relative; top: -20px;
}

#add-im-window em,
#edit-im-window em {
	font-size: 14px;
	font-style: normal;
	padding-left: 5px;
}

#add-im-window #message,
#edit-im-window #message {
	color: #A41D1D;
	line-height: 1em;
}

section#overlay #add-coefficient-minlength-slider,
section#overlay #edit-coefficient-minlength-slider,
section#overlay #add-coefficient-maxlength-slider,
section#overlay #edit-coefficient-maxlength-slider,
section#overlay .add-im-slider,
section#overlay .edit-im-slider {
    background: #FFF none;
    border: 1px solid #A6C9E2;
    border-radius: 5px;
    height: 5px;
    margin-top: 5px;
    width: 133px;
}

section#overlay #add-coefficient-minlength-slider .knob,
section#overlay #edit-coefficient-minlength-slider .knob,
section#overlay #add-coefficient-maxlength-slider .knob,
section#overlay #edit-coefficient-maxlength-slider .knob,
section#overlay .add-im-slider .knob,
section#overlay .edit-im-slider .knob {
	background: url("../images/?new=0078ae&w=1&h=400&f=png&q=100&fltr[]=over|textures/02_glass.png|0|0|45") repeat-x scroll 0 50% #0078AE;
    border: 1px solid #77D5F7;
    color: #FFFFFF;
    font-weight: normal;
    outline: medium none;
    border-radius: 5px;
	cursor: pointer;
    
    width: 10px; height: 10px;
    top: -3px;
}

/* header */
header {
	height: 135px;
	width: 1050px;
	margin: 0 auto;
}

header div#settings {
	height: 35px;
	margin-top: 10px;
	text-align: right;
}

header div#settings a {
	color: #CEE7F7;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background: transparent url("../images/icon-dropdown-light.png") no-repeat right 5px;
	padding-right: 12px;
}

header div#settings a:hover {
	color: #FFF;	
	text-decoration: underline;
}

header h1 {
	color: #FFF;
	font-size: 42px;
	font-family: 'Average', serif;
	margin-top: 10px;
	margin-left: 20px;
	letter-spacing: 2px;
}

header h1 em {
	font-style: normal;
    letter-spacing: normal;
    position: relative; bottom: 5px;
    margin: 0 2px;
}

header h1 sup {
	color: #9de045;
	font-size: 0.6em;
	letter-spacing: normal;
	margin-left: 10px;
}

header h1 span {
	display: block;
	font-size: 0.38em;
	letter-spacing: normal;
	position: relative; top: 2px;
}

/* main */
div#wrapper {
	background: transparent url('../images/bg-body.jpg') repeat center -10px;
	border-bottom: 1px solid #DFDFDF;
	
	min-height: 500px;
}

section#main {
	width: 1050px;
	margin: 0 auto; padding-bottom: 30px;
}

section#content {
	color: #434343;
	background-color: #FFF;
	border-radius: 5px;
    border: 1px solid #DFDFDF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	
	float: left;
	width: 800px;
	margin-top: 30px;
	padding: 10px 20px 10px;
}

section#content h2 {
    color: #925213;
    font-family: 'Droid Sans', sans-serif; font-weight: normal;
    font-size: 36px;
    
    margin-bottom: 16px;
}

/* active rule */
section#active-rule {}

#active-rule h2 {
    color: #925213;
    font-family: 'Droid Sans', sans-serif; font-weight: normal;
    font-size: 36px;
    
    margin-bottom: 16px;
}

#active-rule h3 {
	border-bottom: 1px solid #314E64;
	color: #314E64;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
}

section#active-rule > span.controls {
	clear: both;
}

div#antecedent {
	float: left;
	padding-right: 20px;
}

div#interest-measures {
	width: 190px;
	float: left;
	padding-right: 20px;
}

div#interest-measures > div > div {
	float: left; clear: left;
	margin-bottom: 7px;
}

#interest-measures #add-im {
	color: #126499;
    font-size: 12px;
}

#interest-measures #add-im {
	margin-left: 55px; margin-top: 20px;
	float: left;
}

div#interest-measures .name {
	font-size: 14px;
	float: left;
	width: 150px;
}

div#interest-measures .im-slider {
	margin: 5px 0 6px;
}

div#interest-measures .threshold,
div#interest-measures .alpha {
	color: #7B0D2E;
}

div#interest-measures .edit-im {
	background: transparent url('../images/icon-edit3.png') 0 0 no-repeat;
	visibility: hidden;
	
	display: block; width: 15px; height: 15px;
	float: left;
	margin-right: 10px;
}

div#interest-measures > div > div:hover .edit-im {
	visibility: visible;
}

div#interest-measures .remove-im {
	background: transparent url('../images/icon-remove.png') 0 0 no-repeat;
	visibility: hidden;
	
	display: block; width: 15px; height: 15px;
	float: left;
}

div#interest-measures > div > div:hover .remove-im {
	visibility: visible;
}

div#succedent {
	float: left;	
}

div#antecedent > div.cedent,
div#succedent > div.cedent { 
	border: 1px dashed #314E64;
	padding: 10px;
}

div.cedent {
	float: left;
}

div.cedent div.fields {
	text-align: center;
    min-height: 40px;
}

div.cedent div.fields .info {
	line-height: 20px;
}

div.cedent div.controls ul li {
	list-style-type: none;
}

div.field {
	height: 1em;
}

div.cedent div.field span.field-drag {
	cursor: move;	
	float: left;
}

div.field br {
}

div.field span.coefficient {
	font-size: 0.85em;
	color: #925213;
	
	position: relative; top: -1px; left: 3px;
}

div.cedent div.field div.controls {
	clear: left;
	margin-left: 18px; padding-top: 3px;
	height: 18px;
}

div.cedent div.field:hover div.controls a {
	xvisibility: visible;
}

div.cedent a.change-sign-disabled {
	color: #999;
}

div.cedent .field .controls a.change-sign.positive {
	opacity: 1;
	float: right;
	margin-right: 5px;
}

div.cedent .field .controls a.mark-field {
	background: transparent url('../images/icon-mark.png') 0 1px no-repeat;
	display: block; width: 15px; height: 15px;
	float: left;
	visibility: hidden;
}

div.cedent .field:hover .controls a.mark-field {
	visibility: visible;	
}

div.cedent .field .controls a.marked-field {
	background: transparent url('../images/icon-marked.png') 0 1px no-repeat;
	display: block; width: 15px; height: 15px;
	float: left;
	visibility: visible;
}

div.cedent .field a.edit-coefficient {
	background: transparent url('../images/icon-edit3.png') 0 0 no-repeat;
	display: block; width: 20px; height: 15px;
	float: right;
	margin-left: 2px;
	visibility: hidden;
	position: relative; top: 2px;
}

div.cedent .field:hover .controls a.edit-coefficient {
	visibility: visible;
}

div.cedent .field .controls a.remove-field {
	background: transparent url('../images/icon-remove.png') 0 1px no-repeat;
	display: block; width: 15px; height: 15px;
	float: right;
	margin-left: 5px;
	visibility: hidden;
}

div.cedent .field:hover .controls a.remove-field {
	visibility: visible;
}

div.cedent .field a.change-sign {
	padding-left: 18px;
	float: left;
	height: 1em;
}

div.cedent a.change-cedent-sign {
	padding-left: 18px;
	float: left;
	height: 1em;
}

div.cedent .field a.change-sign.positive,
div.cedent a.change-cedent-sign.positive {
	background: transparent url('../images/icon-negation-active.png') 0 8px no-repeat;
	padding-left: 13px;
	opacity: 0.35;
	visibility: hidden;
}

div.cedent a.change-cedent-sign.positive {
	display: none;
}

div.cedent .field:hover a.change-sign.positive {
	visibility: visible;
}

section#marked-rules span.field-sign.negative,
section#found-rules span.field-sign.negative,
div.cedent .field a.change-sign.negative,
div.cedent a.change-cedent-sign.negative {
	background: transparent url('../images/icon-negation-active.png') 0 8px no-repeat;
	padding-left: 13px;
}

div.field,
div.connective,
span.left-bracket,
span.right-bracket { 
	float: left; 
	margin-left: 5px;	
}

span.left-bracket {
	font-size: 14px;
}

span.right-bracket {
	font-size: 14px;
	
	margin-left: 5px;
	position: relative; top: 1px;
}

div.connective { 
	font-size: 14px; 
	margin: 1px 5px 0 16px;
}

div.connective a {
	color: #336600;
	text-decoration: none;
}

div.cedent > div.controls {
	text-align: right;
	font-size: 12px;
}

div.cedent > div.controls a {
	color: #126499;
	
}

span#action-box {
	background: transparent url('../images/icon-info.png') 0 0 no-repeat;

	display: block; height: 32px;
	margin: 15px 0 10px; padding-left: 38px; padding-top: 9px;
}
 
span#mining-in-progress {
	background: transparent url("../images/icon-loading.gif") 0 0 no-repeat;
	
	display: none; opacity: 0;
	padding-left: 20px;	margin-bottom: 5px;
	background: transparent url('../images/icon-loading.gif') 0 0 no-repeat;
}

#ar-scroller {
	padding-bottom: 10px;
}